[2015-08-20 12:14] noah2828 commented on #1446
@Garbee I mean the type of menu that is in the inbox and until very recently was in YouTube. The type that you swipe right to pull out and left to push in so you don't have to press the hamburger button to move the side menu in and out of view.

[2015-08-20 12:23] Garbee commented on #1446
So, this is a duplicate of #1023 it seems. There currently is no public API for drawer toggling within the layout.

[2015-08-20 12:23] #1446 closed

[2015-08-20 12:43] jalajc commented on #1444
Hi Garbee, Thanks for the update.

Sorry for being not so clear. That strange thing reported is NOT a
different issue. Its just add to behavior of menu which has problem.

The *partially *visible menu in waterfall header appears *completely* when
web page window height is small enough (technically, less than menu height).

On 20 Aug 2015 15:55, "Jonathan Garbee" <notifications@github.com> wrote:

[2015-08-20 22:17] eillarra commented on #1369
Same here. Apparently there is some compatibility problem with `mdl-js-layout`.
Test: http://codepen.io/eillarra/pen/XbLVXz

[2015-08-21 00:14] rogue780 commented on #781
Someone could force the issue on the sizing by submitting a PR

[2015-08-21 01:17] Garbee commented on #781
A PR won't force the issue anymore than I already am. All that will happen is an `md-guidance` tag and `dont-merge-yet` tag will get added until the team takes a look, but they don't prioritize based on MDL PRs.

The Material Design team is a limited number of people trying to help all kinds of different projects at Google figure things out. These kind of things don't get worked out quickly.

Ther

[2015-08-21 01:27] Garbee commented on #1369
Looking at network requests, the widget things are called for but cancelled. I believe it lies in how the layout JS works. However, not sure if there is anything we can feasibly do to fix it (if we can even locate the exact problem) in 1.x due to BC.

Re-opening as a low-priority research task.

[2015-08-21 03:46] tkisme opened #1447 "Cannot read property 'clone' of undefined"
[code]

[2015-08-21 07:25] surma commented on #1447
@tkisme Interesting. Could provide some more info?

* npm and node version
* Did you get the code through:
  * Downloaded zip file
  * Bower
  * Npm
  * Clone of the repo
* Version of your OS
* Why are you running `gulp demos`? Usually, people run either `gulp` to build the lib or `gulp all` to build both the website and the lib. What are you trying to do?

[2015-08-21 07:30] eillarra commented on #1369
Thank you for your answer @Garbee .

Menwhile I was able to make it work deferring the load of the widget (view https://dev.twitter.com/web/javascript/initialization). I have done it listening to the `mdl-componentupgraded` event and it seems to work.

**Test**: http://codepen.io/eillarra/pen/yNdjLV

Could you check if this is a logical approach, or is there any other event we should listen? Thank

[2015-08-21 07:53] sgomes commented on #1445
Thanks, @jdepypere, I can confirm the issues.

Sadly, these may be browser issues, since all we're doing is essentially restyling the HTML range element (so that we maintain accessibility features and default behaviour). Polymer, as far as I know, follow a different approach by implementing the whole thing from scratch.

In any case, I'll definitely take a look and see if there's something we can

[2015-08-21 07:54] sgomes commented on #1445
Note to self: issues successfully reproduced on Chrome for Android.

[2015-08-21 07:56] rpominov opened #1448 "Version 1.0.4 on NPM doesn't contain compiled .css / .js files"
I import `material-design-lite/material.min.css` and `material-design-lite/material.min.js` from NPM package. It works with `1.0.3` but not with `1.0.4`.

Not sure if I doing something wrong or `1.0.4` broken on NPM.

[2015-08-21 08:06] surma commented on #1448
Can confirm, both `npm i material-design-lite` and `npm i material-design-lite@1.0.4-1` don’t contain the build files. We thought we fixed that yesterday, something must have gone wrong. Thanks for reporting, @rpominov

[2015-08-21 09:20] kushdilip commented on #1448
I was also facing the same issue. Do `bower cache clean` and then do `bower install`. It will work.

[2015-08-21 09:24] addyosmani commented on #1448
We've pushed 1.0.4-2. Please use `npm i material-design-lite@1.0.4.-2` and you'll get the version with minified files in there. We're going to try making this version explicit on the site. Sorry about the default package snaffu. Entirely my fault.

[2015-08-21 09:29] rpominov commented on #1448
Version `1.0.4-2` works fine. Thank you!

[2015-08-21 09:39] addyosmani commented on #1445
@sgomes In your research did this turn out to be an issue with the native browser control or just our implementation?

[2015-08-21 09:42] sgomes commented on #1445
@addyosmani Sorry, still trying to figure out what's causing these.

[2015-08-21 12:26] sgomes commented on #1445
I've done a bit of investigation here, and sadly I can't figure out what we're doing wrong. This seems to be the native element not knowing how to handle the customisations in the MD spec, particularly the thumb resizing, I suspect.

If someone else wants to take a stab at it, I'd appreciate it, but otherwise I don't think it's feasible to fix this until we rewrite the component to not use the nat

[2015-08-21 12:56] eillarra commented on #1369
@Garbee FYI: the same thing happens for **Google DFP Ads**: contents appear for a second and then disappear, once the `mdl-js-layout` file does its magic. I guess the problem is with iframes in general.

[2015-08-21 12:57] rogue780 commented on #781
See, I started a project yesterday. I thought, "Hey, let's try MDL. Maybe they have modals now." So I came to check it out. Still no modals. So, materializecss it is.

[2015-08-21 13:00] surma opened #1449 "Give templates favicons & homescreen icons"
[xref](https://github.com/google/material-design-lite/pull/1418#issuecomment-133354753)

[2015-08-21 13:32] addyosmani commented on #1449
:ice_cream:

[2015-08-21 13:50] addyosmani commented on #781
From my last conversation with the MD team, desktop and large-screen sizes for dialogs have not yet been started but the broader dialog rules still apply, like button positions, naming, colour use per the dialog spec. Desktop dialogs/modals have more layout complexity and flexibility and a greater variety of content than they might contain on say, mobile, so the rules in the spec need to reflect t

[2015-08-21 14:07] Garbee commented on #781
@addyosmani Sounds like from that all we need to do is ship with the mobile width as the default width period. If you need another width otherwise, just manually set it for now and we can adjust in a future major to align with the spec more fully.

We can't feasibly keep waiting for the MD team to spec it up. The decision needs to be made to implement as best we can at some point. The sooner (1.1)

[2015-08-21 14:21] Garbee commented on #1369
Doing initialization within the upgraded event sounds good. I think we may have a custom event once layout is done as well now.

As far as priority, it still stands. There are work-arounds to get things working right. It is just something that needs to be taken into account when developing. The primary problem exists within the JS and most likely is a BC break to fix (getting rid of as much of the

[2015-08-21 14:30] foo-baar commented on #781
@Garbee : That  would temporary solve the purpose, Any update about the menu DIV not getting cleared on hide ?

@rogue780: I know man how it feels, Imagine me working a client dashboard project, BTW don't try the "mdl-menu mdl-menu--bottom-left" yet, specially it overshadows any links undergrowth.

@addyosmani: Thanks for your consideration on these issues, would be helpful If we can at least clos

[2015-08-21 14:35] Garbee commented on #781
Not sure what exactly this is referring to. But sounds un-related to modals in which case it is off-topic here. Please look for existing issues about the problem and try to follow-up on those or file a new issue if one doesn't already exist.

[2015-08-21 14:38] surma commented on #781
@Garbee @foo-baar I think what you are looking for is #1406. The issue has been fixed since 1.0.3.

[2015-08-21 14:55] foo-baar commented on #781
Also since we are on the topic, Please pardon me for posting it here but couldn't find relevant topic, Our CSS file have beautiful color choices, would be good if we project it on site via some sort of Pallet I guess.

[2015-08-21 14:57] Garbee commented on #781
If there isn't an existing issue, just make a new one. Having specific issues to things is more useful to everyone than stuffing everything under one issue that isn't related to the topic at hand.

[2015-08-21 16:04] kelsmj commented on #1447
I am getting the same thing.

NPM -v = 2.11.3
node -v = v0.12.7
Ubuntu = 14.04.2 LTS

I merged latest master into my fork.  I deleted my npm_modules and redid a npm install

Running gulp all

Running just gulp works.

[2015-08-21 17:00] foo-baar commented on #781
@Garbee : Make sense, removed my comment.

[2015-08-21 19:27] MGageMorgan commented on #1221
I'm tryna do this, but it doesn't seem to build but that's just me.

[2015-08-22 00:27] janzelc commented on #1447
Same here; I get the error when running `gulp all`. Got the repo via cloning `git@github.com:google/material-design-lite.git`.

Running the following:
npm 2.12.1
node v0.12.6
OSX Yosemite

[2015-08-22 05:20] smcardle opened #1451 "mousewheel disabled for drawer"
Hi.

What was the reasoning behind disabling the mousewheel events in the drawer ???

The reason I ask is because I am using the drawer to contain a large list and the only way to scroll is via the keyboard. The mouse wheel will not cause a scroll because the material.js file eats the mousewheel event.

Due to the way it is disable I am unable to re-enable this event without modifying the material

[2015-08-22 05:26] vyscond commented on #239
using empty divs is a hackery that could be avoided using push/pull. but the main problem is about how can we achieve a (for example) clean login page with a form centered vertically and horizontally.

the __mdl-cell--middle__ solve only half of the problem. if we could push about to 1 or 2 cells without this __hackery__ __bloatware__ of using empty divs :/ or just have a __mdl-cell--middle-horizo

[2015-08-22 05:29] tkisme commented on #1447
```gulp all``` always get error and always break here
so I think ```gulp demos``` is the fastest way to test

[2015-08-22 08:17] Garbee commented on #1451
1.0.4 fixed this regression.

[2015-08-22 08:17] #1451 closed

[2015-08-22 11:46] surma commented on #1447
Finally had the time to test this out myself. I can reproduce this on master. Not sure how and when this could have gotten inas every PR runs through our CI. We will look into a fix.

[2015-08-22 12:37] surma commented on #1447
Update: I went back to 7709ad291ad889fe8f9bf9fcc63c3807f89ada83 (originally to start a `git bisect` :scissors:) and the build fails back there as well :confused: That means that one of your dependencies apparently broke backwards compatibility somehow. Not sure how that is even possible considering we have specified versions for all of our dependencies. I guess I need to go deeper.

[2015-08-22 17:31] steamonimo opened #1453 "Microsoft Surface Pro 2 and 16:9 devices in general"
For Surface 2 and 16:9 devices it seems that hiding divs with class mdl-cell--hide-tablet does not work as expected in portrait mode as you can see here:
https://drive.google.com/file/d/0B3WE_sGto9DjNzFlUHBjOHRyYW8/view?usp=sharing

I expected that in portrait the full width would be taken by the content - as is true for phones. The same too narrow display can be seen on the Surface with the templ

[2015-08-22 18:25] surma commented on #1453
Hey @steamonimo. Thanks for the screenshots, this is actually good to have to show to the MD team.

What you describe probably means that you the Surface 2 has a [width above 840px](https://github.com/google/material-design-lite/blob/master/src/_variables.scss#L505) and therefore falls into the desktop category (for now). We are still working with the MD team to make the [Adaptive UI spec](https:/

[2015-08-22 18:25] #1453 closed

[2015-08-23 06:22] el-rotny opened #1454 "scss "&--fab" mdl - Fix"
First off, I have to say that other than the error below, this repo is very much welcomed in the community.

I wanted to give you a heads up. I am getting a compiling issue with in a project that uses sass-rails and compass.

'Invalid CSS after "  &-": expected number or function, was "-fab {"'

Heres the offending bit: https://github.com/google/material-design-lite/blob/master/src/button/_button.

[2015-08-23 06:35] kushdilip opened #1455 "Layout spacer is not working in drawer"
Adding `<div class="mdl-layout-spacer"></div>` in drawer navigation doesn't work.
Here is the Codepen http://codepen.io/kushdilip/pen/eNqYpO

I have tried layout spacer with material 1.0.0, 1.0.1, 1.0.2 and 1.0.3 as well. none of them worked.

[2015-08-23 18:44] OmniaOmega commented on #1369
Didn't see this was reopened, thanks for considering it :) I particularly used the removeClass jquery method to solve my problem by removing "mdl-js-layout" when the user is on desktop (since it's only really imperative for the drawer to work on mobile view).

[2015-08-23 20:59] juRiii opened #1457 "Responsive Columns In A New Grid"
Hi, is it possible to have:
- 4 mdl-cell in a mdl-grid for desktop
- 2 mdl-cell in a mdl-grid for tablet
- 1 mdl-cell in a mdl-grid for phone

i dont want them to break into a new line, i want to create new "rows" instead. some ideas?

[2015-08-23 23:47] Garbee commented on #1457
Please use StackOverflow for support and usage questions.

[2015-08-23 23:47] #1457 closed

[2015-08-24 08:01] dengere opened #1458 "unwanted secon scroll bar over img (on chrome v44)"
IE 10 ok but chrome v:44 display unwanted second scroll bar when mouse over.
for reprsent issue;
 left any img (it should be more than with 900px) on your "blog entry sample" page and over mouse when mouse over image chrome show two scroll bar. and page move left side.
or you can see what happend on my blog page. it is ghost implementation by me. based on your blog template.
http://www.nuriyilmaz.

[2015-08-24 08:05] matjaz commented on #917
for Aurelia you can take a look at https://github.com/redpelicans/aurelia-material

[2015-08-24 08:45] thejae commented on #1223
Hello all, I ran into this issue and thought it was odd. For example, Chrome won't show the error tooltip until form submission is triggered.

It is weird for MDL to mark fields as invalid right after page load without user triggered event.

![image](https://cloud.githubusercontent.com/assets/738694/9436048/4128a1a8-4a7f-11e5-93d8-55de9bedc211.png)

[2015-08-24 09:07] mrfaizanhaider commented on #1043
Hi i'm working on a portal using MDL & angular ... i'm facing some issue on TEXT FIELDS.

TEXT FIELDS all effect not working when i click on login page. but when i refresh the page , all effecst working good.

please help...

[2015-08-24 09:44] sgomes commented on #239
We may want to reconsider 1.1 for push/pull. I'll do a bit of research around what the exact semantics of it are in other grids (e.g., how should push behave if the cell wraps to the next line) and see if it's feasible to add it to ours.

[2015-08-24 09:54] Garbee commented on #1043
@mrfaizanhaider please use StackOverflow for support and usage help.

[2015-08-24 10:13] JoseAlcerreca opened #1459 "404 in blog template"
http://www.getmdl.io/templates/blog/index.html

shows 404: http://www.getmdl.io/templates/blog/images/touch/chrome-touch-icon-192x192.png

[2015-08-24 10:17] sgomes commented on #239
It seems to me it's perfectly doable to implement an "offset" system like [the one Boostrap's grid uses](http://getbootstrap.com/css/#grid-offsetting).

We could also add absolute reordering, by wrapping flexbox `order` into something like `mdl-cell--order-N` (developers could just use `order` on their own, of course, but this way they get free auto-prefixing for IE10 and Safari <= 8). I think tha

[2015-08-24 10:21] web2style commented on #239
@sgomes Yes, the idea of `mdl-cell--order-N` is great.

[2015-08-24 10:45] surma commented on #1458
Hey @dengere,

I looked at your linked page with Chrome 44 and don’t have any scrollbars. Neither on the landing page nor on the page of an individual blog posts. Hovering doesn’t trigger a scrollbar either.

What OS are you using? Are you on the newest version of MDL (1.0.4)?

[2015-08-24 10:47] surma commented on #1459
Duplicate of #1418 :)

[2015-08-24 10:47] #1459 closed

[2015-08-24 10:47] surma commented on #1459
Uhm, I meant #1449

[2015-08-24 11:32] Garbee commented on #239
I don't like the idea of `mdl-cell--order-N` since that would be flexbox only which means no IE9 support. That means more manual work on the grid is needed for full IE9 support. It also is vague as to how many numbers we should go to. Also as far as I know, there is no limit to the number of items to be ordered, so do we just set an internal cap at 6/8/12?

Whatever we provide here should be seaml

[2015-08-24 11:44] sgomes commented on #239
@Garbee The grid is already IE10+; IE9 is not supported. And yes, my idea was to set an internal cap at around 10 or so; so -10 to +10.

[2015-08-24 12:10] sgomes commented on #239
Actually, negative numbers would be a problem with our BEM notation, so scrap those :)

[2015-08-24 12:24] sgomes commented on #239
Offsets added in PR #1460. Waiting for consensus on `order` classes before working on that.

[2015-08-24 13:40] sgomes commented on #239
Offsets are merged in `master`.

[2015-08-24 14:47] Cowboy-coder opened #1461 "event.stopPropagation() in tooltip.js makes it impossible to add a click event on button with tooltip"
I'm not sure why `event.stopPropagation()` is used instead of `event.preventDefault()` here:

https://github.com/google/material-design-lite/blob/master/src/tooltip/tooltip.js#L65

Changing to event.preventDefault() solves my issues and I'm wondering if there's any good reasons why stopPropagation is used here?

[2015-08-24 14:56] Bound3R commented on #1455
you can use `mdl-cell--hide-desktop` if the intention is to hide the `mdl-layout__drawer`.

that's what you want to do?

[2015-08-24 15:01] web2style commented on #239
@sgomes, thanks! :+1: Don't forget to update the docs.

[2015-08-24 15:02] sgomes commented on #239
@web2style Yup, only occurred to me later :) I'll have that merged in later.

[2015-08-24 15:30] Bound3R commented on #1458
@dengere I only found this:

![image](https://cloud.githubusercontent.com/assets/5579520/9443538/304116b4-4a47-11e5-87c3-f02fd79d295b.png)

respect that happens I think that not has to do with the Chrome version, maybe js functionality or render (since it only happens to me when I try to scroll very fast).

[2015-08-24 15:41] tleunen commented on #1455
It works in this template: http://www.getmdl.io/templates/dashboard/index.html

Probably because they redefine the style on `mdl-navigation__link` as flexbox. Might be a good idea to set that by default then?

[2015-08-24 16:26] Garbee commented on #1461
Can you provide a codepen or other live example of the code you are trying to use which is having a problem?

[2015-08-24 18:09] Garbee commented on #1454
We don't directly use Sass in our pipeline. Not sure where messages on support like this would fit in.

[2015-08-24 19:35] Bound3R opened #1462 "navbar spacing"
the navbar has space for `mdl-layout__drawer-button`, but if you get to delete still have an extra space by default:
[code]
eg: http://codepen.io/Bound3R/pen/waVeYO?editors=100

[2015-08-24 20:00] Bound3R commented on #1455
@tleunen I think that was already suggested templates for some other issue

[2015-08-24 21:00] stunaz opened #1463 "Server-Side Validation"
Hi,
I am doing a server side validation of my form. But when I am trying to display the error on the my page by adding the class `is-invalid` while building the page (server side), this class just disappear when the page is loaded.

How can force my field to display the error?
Do I really have to re-add the class once the page is ready (with javascript)?

[2015-08-25 00:15] Garbee commented on #1463
Are you using in-browser validation as well? Doing that would automatically provide the invalid state on load.

[2015-08-25 02:50] stunaz commented on #1463
No, I am not using the in-browser (added `novalidate` in the form tag)
here is a codepen that I created http://codepen.io/stunaz/pen/ZGgaaY?editors=100
I was expecting the field to be red.

[2015-08-25 06:26] jalalazimi opened #1464 "Dialogs Component"
Dialogs
Dialogs inform users about critical information, require users to make decisions, or encapsulate multiple tasks within a discrete process. Use dialogs sparingly because they are interruptive in nature. Their sudden appearance forces users to stop their current task and refocus on the dialog content. Not every choice, setting, or detail warrants interruption and prominence.
Alternatives to

[2015-08-25 06:40] copynpaste commented on #1464
#781

[2015-08-25 07:26] smcardle opened #1465 "Drawer menu icon"
Hi people.

How can I change the icon from the standard hamburger menu item for the drawer ??

I use the draw as a chat area and would like to change it to a more specific icon for chat.

Regards

[2015-08-25 07:32] dengere commented on #1458
hi @surma  @Bound3R 21 inch monitor has no issue. notebook 13.8 inch has issue.
i removed all of my personel js and css and represent same issue on 13.8 inch monitor.

operating system windows 8.0, and lates version mdl.

[2015-08-25 07:49] hebbet commented on #1465
That is a bugtracker. For Questions please use Stackoverflow. http://stackoverflow.com/

[2015-08-25 08:29] Cowboy-coder commented on #1461
This reproduces the problem:
http://codepen.io/anon/pen/QbeQvO

However... maybe `event.preventDefault()` is not the solution either. I think maybe you should neither use `stopPropagation` or `preventDefault` and just let the event pass through. Because... if you want to add a tooltip on an anchor link then preventDefault will make it not follow the link... which is unexpected behavior I would say

[2015-08-25 08:46] #1464 closed

[2015-08-25 08:48] Garbee commented on #1465
Currently changing the icon is not supported internally. The drawer is built to follow the specification as closely as it can.

[2015-08-25 08:48] #1465 closed

[2015-08-25 11:59] Garbee commented on #1461
Upgraded the example a bit available with [this fork](http://codepen.io/anon/pen/WvVJov). Directly assigning the event to the button works fine. So what you need should be achievable, will just require rethinking the way you setup your listeners.

Any particular reason you need to delegate listeners? Looks like changing this functionality now would be a breaking change.

[2015-08-25 12:02] Garbee commented on #1463
The component is checking the HTML5 validity state on initialization. This is what causes the invalid state to get removed. However, by not using the built-in validation we have no way of verifying state if it is correct once the user does input proper values. So even if things are updated to allow an initially invalid state, as soon as something changes it is then "valid" again, even if continual

[2015-08-25 12:16] surma commented on #1463
Our init process uses the browser-native validation to see if `is-invalid` should be set or not (
[`init()`](https://github.com/google/material-design-lite/blob/master/src/textfield/textfield.js#L218) :arrow_right: [_updateClasses()](https://github.com/google/material-design-lite/blob/master/src/textfield/textfield.js#L105) :arrow_right: [checkValidity()](https://github.com/google/material-design-

[2015-08-25 12:38] Garbee commented on #1463
FTR handling not removing the class during init is trivial. I am simply worried about making the change for a niche use-case that is also discouraged. Developers should offer validation early and often.

According to the [error spec](https://www.google.com/design/spec/patterns/errors.html#errors-user-input-errors):

By not doing validation in-browser, it goes against what MD recommends for handlin

[2015-08-25 13:13] surma commented on #1463
@Garbee This is not about NOT doing validation in-browser, but *also* supporting server-side validation, which is orthogonal to our “static content only” motto. If you want to mark a field as invalid, you should be able to that, shouldn’t you? Not all validation is viable to be done client-side, imo. Also, I don’t really see this as a niche use-case.

[2015-08-25 13:26] Cowboy-coder commented on #1461
I think delegate listeners is a common (and good) practice?
But for us in our case we're using React together with material-design-lite and I guess React underneath when you add a click-property it just delegates it.
But I've always used delegate listeners in the past as well to be able to add/remove DOMElements without having to re-attach/remove listeners.

But I managed to solve it on my side by

[2015-08-25 13:55] sgomes commented on #1454
Adding a list of dependencies to CONTRIBUTING.md somewhere sounds like a good option.

That said, as @Garbee mentioned, we don't actively support direct usage of our SASS; MDL is built with it, but our main focus is on outputting plain CSS that can be integrated into any site.

[2015-08-25 14:01] surma opened #1466 "Make ripples match MD spec"
Follow-up on #973:

Our ripples don’t match the spec and need to be updated.

[2015-08-25 14:04] sgomes commented on #1458
Any chance you could get us a codepen that isolates the issue, @dengere?

[2015-08-25 14:08] stunaz commented on #1463
@surma thanks for suggestion, I will try it.
A typical use-case would be on the registration form, to validate that the email/username is not already used in the database. But mostly all the business rules of an application can be validated only server-side.

[2015-08-25 14:15] Bound3R commented on #1458
yeah @dengere you can isolate it in Codepen, which I found was a bug quite rare, but the render . while you have a problem with two scroll, the only thing I can think is maybe the Fixed header but I do not see you use it .

[2015-08-25 14:15] sgomes commented on #1462
Thanks, @Bound3R. I think it's time to revisit this now we're at 1.1.

I'm thinking of adding the `mdl-layout--no-drawer-button` and `mdl-layout--no-desktop-drawer-button` options to `mdl-layout`. Would that work for you?

[2015-08-25 15:47] Garbee commented on #1461
Delegated event listeners are a performance antipattern. They should be avoided.

We can't fix in 1.x at all. It is a breaking change so it must go into 2.x at the earliest.

[2015-08-25 16:05] sgomes commented on #1462
PR out at #1467.

[2015-08-25 17:06] kushdilip commented on #1455
@Bound3R I don't want to hide the drawer. My intention is to get exactly what is achieved in http://www.getmdl.io/templates/dashboard/index.html

[2015-08-25 17:10] dryror opened #1468 "Material Icons not showing in MS Edge"
Environment: MS Edge on Windows 10 vm from modern.ie http://dev.modern.ie/tools/vms/mac/

Material Icons are not being displayed. I was able to reproduce by visiting the preview of the blog template:
![screen shot 2015-08-25 at 9 59 38 am](https://cloud.githubusercontent.com/assets/6842818/9473684/faebd18c-4b10-11e5-913c-ba6d9c581c18.png)

EDIT:
Confirmed not displaying when defining the icon as:

[2015-08-25 17:25] hebbet commented on #1468
can't reproduce on windows 10 running on real hardware.

test if that page works:
https://www.google.com/design/icons/

[2015-08-25 17:37] surma commented on #1468
This an open issue with the font https://github.com/google/material-design-icons/issues/179

[2015-08-25 17:57] flawyte commented on #324
Up?

[2015-08-25 18:19] jabbett commented on #1407
Any recommended CSS hack in the meantime?

[2015-08-25 20:09] jabbett commented on #1461
It looks as if Backbone is doing the same delegation as React - so it's a problem for our project too. (We can't get the tooltips to display beyond the edge of a card anyway, so I think we'll drop use of tooltips altogether, anyhow.)

[2015-08-25 20:48] Bound3R opened #1469 "button useless class"
Hi, I was working on buttons and found the class modifier `mdl-button--colored`, but I see functionality as does the similarly as the class `mdl-button--primary`.

eg:
http://codepen.io/Bound3R/pen/QbeJjZ

[2015-08-25 23:08] kritsky opened #1470 "Changelog and subscribe to them"
Hello, how can I subscribe to changelog to update css/js on my site? And where can I see changelog

[2015-08-25 23:09] kristino-web commented on #1332
Our looking for that answer poque was not able to solve CDM and Angle .
Thank you for answering this question

[2015-08-25 23:40] jonathanperis opened #1471 "Dashboard template not working on MS Edge."
Hi!

The dashboard template isn't working on MS Edge. Everytime i try to launch it, the brower stops to work.

[2015-08-25 23:56] surma commented on #1471
@jonathanperis That should never be happening, no matter what code you give to a browser. I’ll have to assume that this is a bug with IE Edge. Nothing we can do about that, sorry.

[2015-08-25 23:56] #1471 closed

[2015-08-26 01:14] Eliezer-Pujols opened #1472 "Problem with .mdl-layout__drawer-button"
Why is this happening? Help!!!!!!!

- My code:
  http://subefotos.com/ver/?80c17e04f9d64e96173eea0755bd73afo.png

- Result:
  http://subefotos.com/ver/?69cb2a46ef5c0f473f0f694193a32d8do.png

[2015-08-26 07:06] peterblazejewicz commented on #1470
In releases:
https://github.com/google/material-design-lite/releases

You could subscribe to repository Atom feed to get *release* tag update and go to Github page:
https://github.com/google/material-design-lite/releases.atom
![image](https://cloud.githubusercontent.com/assets/14539/9487388/705bd05a-4bd1-11e5-8235-03d992b579db.png)

The feature is sparsely documented I think:
https://help.github.c

[2015-08-26 09:21] kritsky commented on #1470
Thanks

[2015-08-26 09:21] #1470 closed

[2015-08-26 11:06] ManasN opened #1473 "Different version of material.css on mdl.io and /master ?"
Well, here is the thing :
Left one is from master(after building the project from current master.) and right one is downloaded from (https://storage.googleapis.com/code.getmdl.io/1.0.4/material.css )
![image](https://cloud.githubusercontent.com/assets/9447030/9491902/72866932-4c10-11e5-9cf5-24329459b537.png)

Which one is latest and which one is preferred? I've put like 2 or 3 hours on the offset

[2015-08-26 11:09] addyosmani commented on #1473
The version of MDL in master is our work-in-progress for 1.1 per our [release notes](https://github.com/google/material-design-lite/releases/tag/v1.0.3) and we expect it to be a little further ahead :)

This involves a slightly larger set of changes than were found in the 1.0.4 release.  1.0.4's release can be found in the release branch if you need a branch for tracking. Otherwise updates to the

[2015-08-26 11:23] surma commented on #1472
@Eliezer-Pujols I am not quite sure what I am looking at :smile: Here’s a few things I’d like to make you aware of:

* This issue tracker is for issues, bugs and feature requests with MDL. If you need support (i.e. MDL is working correctly but you are not sure how to use it), please go over to StackOverflow and use the `material-design-tag`.
* Be more specific where your expectations and your resu

[2015-08-26 11:23] #1472 closed

[2015-08-26 13:58] ManasN commented on #1473
Addy! :) Glad you replied ! I've been watching your youtube videos and various talks a lots since last year and you were the guy to convince me to switch to this modern side of front-end web development. Kudos :)) Great framework !

[2015-08-26 13:58] #1473 closed

[2015-08-26 20:26] Eliezer-Pujols commented on #1472
You looked, but it did not see... The button of the booth not this one in the center. In Codepen this arranges, but without Codepen not. Because of it I did not show it to him in codepen.

[2015-08-27 00:41] JacobDorman opened #1474 "Allow further customization of sass mixins and variables"
Currently mixins and variables are (re-)imported into sass partials
[code]
https://github.com/google/material-design-lite/blob/master/src/textfield/_textfield.scss#L17

This means mixins and variables without defaults can't be overridden:
[code]

The situations where I've run into this could be solved by [using more variables|https://github.com/google/material-design-lite/blob/master/src/_mixins.s

[2015-08-27 02:33] btkostner opened #1476 "getmdl.io/styles rogue footer style"
The footer on [this](http://www.getmdl.io/styles/index.html) page is getting incorrect styles.

![footer](https://cloud.githubusercontent.com/assets/3385679/9511201/e6430ffc-4c28-11e5-87fd-5a9c7dc493d6.png)

selector:
[code]

[2015-08-27 05:16] kingstenbanh commented on #1421
I checked the Google Design Spec and saw that the website didn't use any background color for the current navigation link (Please see the image below). Should we remove the background color for current navigation completely or is there an alternate that MD Team would like to use?

<img width="237" alt="screen shot 2015-08-26 at 10 11 58 pm" src="https://cloud.githubusercontent.com/assets/7540669/9

[2015-08-27 09:20] cliffordp commented on #1352
In case it may benefit anyone else:
I've created an IFTTT recipe to watch the [Atom feed](https://github.com/google/material-design-lite/releases.atom) for the [Releases page](https://github.com/google/material-design-lite/releases)

https://ifttt.com/recipes/319510

P.S. Thanks to the MDL Team for having detailed release notes + changelist to understand what was revised!

[2015-08-27 09:53] #1462 closed

[2015-08-27 10:44] kingstenbanh commented on #665
Hi @santokii, could you please share the mock in public?

[2015-08-27 10:44] sgomes commented on #1469
They have slightly different semantics; `mdl-button--colored` picks the right colour based on the type of button: it will pick the primary colour for a flat or raised button, and the accent colour for a FAB, for example.

`mdl-button--primary` will always pick the primary colour, though; that's how you could for example get a FAB with the primary instead of the accent.

Hope this helps!

[2015-08-27 10:44] #1469 closed

[2015-08-27 10:49] sgomes commented on #1468
@surma Should we add the fix in https://github.com/google/material-design-icons/issues/179#issuecomment-132168462 or will we wait for this to be fixed upstream?

[2015-08-27 10:54] sgomes commented on #1457
As an added note, our tag there is [material-design-lite](http://stackoverflow.com/questions/tagged/material-design-lite); using it will help you get the right folks looking at your question :)

[2015-08-27 11:20] surma commented on #1472
@Eliezer-Pujols If the issue is not reproducible in a CodePen, it is very likely that there are some other stylings or scripts interfering, or you are not using the newest MDL version. This is definitely something for StackOverflow and the `material-design-lite` tag :)

[2015-08-27 11:47] Garbee commented on #1421
@kingstenbanh We don't follow other example implementations. Each varies a bit and may not align with the spec. You can reference [this old comment](https://github.com/google/material-design-lite/issues/99#issuecomment-99486738) for why we are using an active state.

Since they don't specify the exact color for highlight, I'd just find a light gray in the pallet and use that.

[2015-08-27 11:50] Garbee commented on #1472
This has come up a few times. I think everyone realized they were missing something in the layout markup structure in the end. Having a hard time tracking down the older issues about it.

[2015-08-27 12:36] faviouz opened #1485 "Invalid selector after @supports in progress/_progress.scss"
I installed MDL through bower. My `main.scss` file looks like this:

[code]

This is the relevant piece in my `gulpfile.js` that compiles it:

[code]

The compile errors out like this:

[code]

I can get it to compile if I remove this block of code from `progress/_progress.scss`:

[code]

What's wrong?

[2015-08-27 12:59] surma commented on #1352
@cliffordp Cool! Thanks for that :+1:

[2015-08-27 13:04] djalmaaraujo opened #1486 "Roadmap Readme"
Hey guys! I was reading through a bunch of feature-requests and I believe that would be very nice to see which new components we are going to add in the next releases. Maybe, we could just point in some readme or an specific roadmap document.

I think that by doing this, people would be more excited with new releases and maybe even contribute more to find/fix bugs.

What do you guys think?

[2015-08-27 13:07] Garbee commented on #1486
We use issue [milestones](https://github.com/google/material-design-lite/milestones) to try and do this. However, like anything, assignments can be moved if things get to a crunch.

[2015-08-27 13:12] djalmaaraujo commented on #1486
I see. Ok then, don't think we need this issue anymore.

[2015-08-27 13:12] #1486 closed

[2015-08-27 13:33] surma commented on #1469
Is this something we want to clarify in the docs? I can see how easily you could get confused by these.

[2015-08-27 13:34] sgomes commented on #1485
It seems your SASS preprocessor doesn't like the [CSS @supports rule](https://developer.mozilla.org/en-US/docs/Web/CSS/@supports) for some reason. I would suggest updating to the latest version and trying again, or otherwise filing an issue against the tool.

Hope this helps!

[2015-08-27 13:34] #1485 closed

[2015-08-27 13:34] surma commented on #1468
@sgomes I guess fixing it on our side can do no harm. I’ll run a test shortly

[2015-08-27 13:35] sgomes commented on #1469
Not quite sure how we can make it much clearer without a lengthy explanation, but I'll take a stab at it.

[2015-08-27 14:14] rpominov opened #1487 "Multiple line textfield demo seems broken on website"
This is how it looks at least on Mac/Chrome:

![](http://g.recordit.co/EkW9ilWYiW.gif)

http://www.getmdl.io/components/index.html#textfields-section

[2015-08-27 14:22] Bound3R commented on #1469
sorry for the inconvenience, I now understand, and if you think appropriate to review the documentation of the buttons can be confusing.

[2015-08-27 14:22] Garbee commented on #1487
Can you define what you mean by broken? Seems to be functioning normally to me.

[2015-08-27 14:22] faviouz commented on #1485
Oh, that was stupid...

Updating gulp-sass worked. Thanks! :smile:

[2015-08-27 14:25] rpominov commented on #1487
I remember it was automatically changing it's height when you type. Or perhaps I've seen it somewhere else, sorry if this is the case :)

[2015-08-27 14:26] sgomes commented on #1469
No worries, added :)

[2015-08-27 14:27] sgomes commented on #1485
No worries, glad that worked! :)

[2015-08-27 14:29] cmalard opened #1488 "Switch component positionning"
Hi,

The [switch component](https://www.getmdl.io/components/index.html#toggles-section/switch) is made with absolute positionning and it seems hard to make it appears _after_ its label and not before.
Is there any simple way ?

Thanks

[2015-08-27 14:30] Garbee commented on #1487
The default textarea element doesn't seem to do this. Nor should the example since its height is hard-set to 150px.

It is working as per the [spec for textfields](https://www.google.com/design/spec/components/text-fields.html#text-fields-floating-labels):

Closing since it is working as intended.

[2015-08-27 14:30] #1487 closed

[2015-08-27 14:33] rpominov commented on #1487
Right. I've probably seen automatic height change here http://material-ui.com/#/components/text-fields. Sorry for wrong report.

[2015-08-27 14:37] surma commented on #1488
The switch component should only use absolute positioning *inside* it’s scaffolding, you should be able to position it freely. Can you provide a CodePen with your attempt and maybe a mock showing the desired result?

[2015-08-27 15:54] cmalard commented on #1488
Here it is : http://codepen.io/anon/pen/rOBmxd

[2015-08-27 16:15] jdmagic21 opened #1490 "Download Only CSS of One Component?"
As it stands if you use the CSS file it changes the styles of multiple items such as header tags that could have already been declared in your own personal CSS file.

[2015-08-27 16:31] timothylrobb opened #1491 "Upgrading Material Menu before added to DOM doesn't work"
I have found that when dynamically creating a Material Menu and upgrading it before adding it to the DOM fails due to line 1114 in material.js.

forEl = document.getElementById(forElId);

Because the element hasn't been added to the DOM, it cannot be retrieved this way.  All other parts of the menu get upgraded, but because of this line, the button does not get the events required to trigger the m

[2015-08-27 17:07] Garbee commented on #1490
Duplicate of #1037 it looks like.

[2015-08-27 17:07] #1490 closed

[2015-08-27 22:55] Eliezer-Pujols commented on #1472
Thanks, found it helpful!!!! :+1:

[2015-08-28 01:18] kctang commented on #1461
Same issue with Meteor based project. Events defined in a template will not work when tooltips are assigned to buttons.

    Template.myForm.events({
        'click button': function() {
            console.log('not happening when button has tooltip');
        }
    });

For now, will be dropping use of tooltips in places where interaction like clicking is needed (which is common).

[2015-08-28 02:36] mattbond21 opened #1492 "Markdown not rendering headings"
Bug in the docs where Markdown is rendering headings.

![screen shot 2015-08-27 at 7 34 23 pm](https://cloud.githubusercontent.com/assets/870094/9537869/d1cda454-4cf2-11e5-904f-ae998477f533.png)

[2015-08-28 05:24] minimaxir commented on #1328
Here's a video of the behavior:
![mdl-scroll](https://cloud.githubusercontent.com/assets/2179708/9539710/70299aba-4d0a-11e5-8f05-648c3b19289b.gif)

[2015-08-28 06:55] mspl13 commented on #1492
This was already fixed in #1450 by @victorhaggqvist and should be part of the next release, I guess.

[2015-08-28 07:17] scandinave opened #1493 "How detect click on checkbox inside datatable?"
Is there a way to handle click on checkbox inside datatable? i use ember, and i don't know how i detect click on this checkbox.

[2015-08-28 09:56] Garbee commented on #1493
Duplicate of #1210.

In the future, please use StackOverflow for support and usage questions. Then file an issue here once there is a verified core problem that needs addressing.

[2015-08-28 09:56] #1493 closed

[2015-08-28 09:58] Garbee commented on #1492
Closing per previous comment.

[2015-08-28 09:58] #1492 closed

[2015-08-28 12:45] Darkham666 opened #1494 "mdl.css crash Edge"
Hello, I've updated my website using MDL.
And I was surprised when I test it on Edge and see it crashed.

In fact,after research it's seems, to do like the Dashboard template (http://www.getmdl.io/templates/dashboard/index.html)

[2015-08-28 12:55] surma commented on #1494
The problem is most likely with Edge. AFAIK, Edge is not a stable product and we are not using exotic CSS in any stretch of the imagination. So you should probably bring this up with the IEdge team rather than with us.

[2015-08-28 13:01] Garbee commented on #1494
Just a quick FYI, Edge went stable with the release of Windows 10 about a month ago. I'll download a clean VM from MS and see if I can replicate the crash.

[2015-08-28 13:04] surma commented on #1494
Oh, my bad. Thought Edge was still in dev.

[2015-08-28 13:12] surma commented on #1494
The tab crashed for me as well in my VM :disappointed: Developer Tools won’t load. I still think that this should be brought up with the IEdge team. We can try to figure out a workaround, but I have no idea where to start.

[2015-08-28 13:15] surma commented on #1488
Ah, I understood you completely wrong. Thanks for the codepen @cmalard.

@sgomes WDYT about `mdl-switch__label--right` or something along those lines?

[2015-08-28 13:17] surma commented on #1491
@timothylrobb Would you mind opening a PR so we can look at the code?

[2015-08-28 13:19] Garbee commented on #1494
If you have a clean VM and it is crashing, just report upstream to Edge then. I don't know what we can really do to find the issue on our end. When IE, Chrome, FF, and Safari all work fine the problem area is clear. ;)

[2015-08-28 13:26] Darkham666 commented on #1494
I've looked hard but see nothing in the css too.
I've allready make a bug report to Edge but I want you to know this bug too ;)

[2015-08-28 13:29] ClashTheBunny opened #1495 "Authentication of Release"
Hi,

I'm using MDL in a project and am packaging it for cljsjs.  A MD5 checksum is used for validation.  Is there a way that you could publish a checksum over a secure channel?

It would also be nice, for projects more interested in security than cljsjs, to have PGP signed releases.

At minimum, could I get confirmation that 1.0.4 has an MD5 checksum of `e6883041f5cf44642b1539ecf5a25f9c`?

Thanks!

[2015-08-28 13:30] surma commented on #1494
@Darkham666 Can you give us a link to the bug report?

[2015-08-28 13:34] Garbee commented on #1491
The issue is on [line 117](https://github.com/google/material-design-lite/blob/master/src/menu/menu.js#L117) of the menu JS.

Nothing we can do about this in 1.x though as changing how the markup is structured and where the classes need to be is a breaking change. If there is some way to refactor this so developers don't need to modify their code at all and it would still work, then we can look in

[2015-08-28 13:35] Garbee commented on #1488
`mdl-switch__label--right` sgtm.

[2015-08-28 13:36] surma commented on #1495
Adding a checksum to the download sounds like a good idea to me.

And I can provide the following checksums for MDL’s 1.0.4 ZIP file

* MD5 `e6883041f5cf44642b1539ecf5a25f9c`
* SHA1 `0763907621123b1b05e2c323e83e1dd5957a9e1d`
* SHA256 `03a5b2acb124bc7d389943ce8c9835e60cdad33643d949d337516da8ceb0649a`

[2015-08-28 13:36] sgomes commented on #1488
Yup, makes sense.

[2015-08-28 13:43] Darkham666 commented on #1494
@surma unfortunately I've no link...
I've tried to contact them by the Microsoft Support but they didn't understant why I want to report a bug...
So I've used the "Send comments" tool in Edge. I hope somebody will received it ^^^"
Why they didn't have a GitHub like everybody... An issue and it's okay ! :)

I will try others ways to contact them, I keep you inform ;)

[2015-08-28 13:46] cmalard commented on #1488
:+1:

[2015-08-28 13:46] Garbee commented on #1494
You can report bugs on the [connect site](https://connect.microsoft.com/IE) as linked to from [modern.ie](http://dev.modern.ie/). That will let you get a specific link back for sharing and tracking.

[2015-08-28 13:52] Darkham666 commented on #1494
@Garbee yeah I'm actually on the connect site ;)
For modern.ie I'll take a look after.

https://connect.microsoft.com/IE/feedbackdetail/view/1724368/edge-crash

[2015-08-28 16:49] kingstenbanh commented on #1455
To produce the same effect as the template, you can add `flex-grow: 1;` to the `mdl-navigation` class as show below

[code]

[2015-08-28 17:08] Garbee commented on #1455
Instead of using an inline style, just use the spacer class on the nav.

[code]

[2015-08-28 18:55] kushdilip commented on #1455
@Garbee Thanks for brilliant solution. Should I close this issue ?
@kingstenbanh thanks.

[2015-08-28 22:22] g3rd commented on #1463
@Garbee I wouldn't consider this a niche use-case. I'm using Django to build out MDL HTML, almost every project I work on has additional validation that gets done server-side. Example validating that an EIN number is valid and a 501c3. An easier way to flag to the JavaScript validation that an existing error is present would be great.

[2015-08-29 08:17] Tommass commented on #854
Hello !

+1

It would have been really usefull to have it.
Thanks

[2015-08-29 08:45] pierr commented on #854
:+1:

[2015-08-29 09:58] fatihkahveci opened #1499 "Site Showcase Request"
Please include: giftens.com
Description : Easy way convert Youtube video to Gif format.
Primary Link : http://giftens.com
Screenshot : (http://i.imgur.com/BcB3rNN.jpg)

[2015-08-29 15:51] duyluandethuong opened #1500 "Drawer button's icon does not display on non-ligature browser"
The issue is similar to issue #1468 and #1489 and I am testing my site on Samsung's default browser on Galaxy Note 5 and Galaxy S6 Edge. For other parts of the web, I changed the lirature name into characters and they work fine. However, the drawer button's icon does not. When I try to change the lirature name of the drawer's button in **material.js** file, the menu's icon only render those charac

[2015-08-29 17:35] samosfator commented on #206
+1

[2015-08-29 18:25] shwaydogg commented on #852
+1, I was surprised how fast the ripple was.  Any updates?

[2015-08-29 20:23] mustafa-x opened #1501 "Convert font units from PX to EM"
Current build seems to use PX's instead of EMs or REMs. This can be problematic as some high-resolution/high-pixel-density screens report true resolution which would make the type appear smaller. [Jason Pamental mentions this in his responsive type book] (https://books.google.co.uk/books?id=tE59BAAAQBAJ&pg=PT72&lpg=PT72&dq=Samsung+touch-screen+laptops+reporting+true+instead+of+standard+resolution&

[2015-08-29 20:58] surma commented on #852
I’m closing this in favor of #1466. No code to show yet, @shwaydogg.

[2015-08-29 20:58] #852 closed

[2015-08-29 21:04] surma commented on #1501
@mustafa-x That is definitely something we stumbled upon ourselves but can’t change this anymore before v2. I like your approach of defining one base size and using `rem` afterwards. I’ll keep this open as a reminder for v2.

[2015-08-29 22:20] rzr999 opened #1502 "Required input fields should not be marked invalid (red) automatically."
If an input field is required then it will automatically be marked as invalid. This should not happen on a page load, but once a user interacts with it. See solution below.

[code]

[2015-08-30 02:47] adiramardiani opened #1504 "Table not responsive"
I check table for small device is not responsive

[2015-08-30 02:50] adiramardiani opened #1505 "Some form component not styled"
For select tag like :
[code]

Or textarea is not styled ?

[2015-08-30 06:54] kushdilip commented on #854
I have create a prototype of dropdown by combining `mdl-textfield` and `mdl-button`.  Selecting a value is not working for now. I am working on it.
http://codepen.io/kushdilip/pen/bVbXgJ?editors=110

[2015-08-30 07:00] f0rmat1k opened #1507 "Wiki: Understanding BEM"
There is a great site about BEM. http://getbem.com/ I suggest to add to the list of resources.

[2015-08-30 10:42] surma commented on #1505
Select are not styled as they are notoriously hard to style. We are aware and thinking about possibilities. See #854.

Textareas are styled and can be found on the [components page](http://www.getmdl.io/components/index.html#textfields-section).

For future reference: Please use the issue search before opening a new issue.

[2015-08-30 10:42] #1505 closed

[2015-08-30 12:03] Garbee commented on #1504
The data table spec has no guidance for mobile tables. Doing responsive tables is very difficult and there are numerous possible ways to handle it.

If you need responsive data tables, then you need to implement it yourself at the moment.

[2015-08-30 12:03] #1504 closed

[2015-08-30 12:14] CyanoFresh opened #1509 "Themed css in the bower package"
Hello. I use bower to install MDL into my application. So if I include /material.css - it is default theme. But I need customized css without CDN and manual downloading. Is it possible? If not - I porpose to add customized styles to the repository.
Sorry for my English

[2015-08-30 12:21] surma commented on #1509
@CyanoFresh You can download all of the themed CSS on the [customizer page](http://www.getmdl.io/customize/index.html) by clicking the download button in the center of the wheel. Is this what you are looking for?

[2015-08-30 12:23] CyanoFresh commented on #1509
@surma thanks, but no. I am looking for customized styles in the bower package

[2015-08-30 12:41] Garbee commented on #1509
I think including all the possible colors in bower/npm would lead to a very bloated package. I don't believe we should include them within it. The source files are now included in the packages, so you can easily add a build pipeline to generate MDL with the colors you need.

[2015-08-30 12:43] CyanoFresh commented on #1509
@Garbee ok. So maybe separate package?

[2015-08-30 12:57] surma commented on #1509
@CyanoFresh How about this:

[code]

[2015-08-30 13:01] CyanoFresh opened #1510 "MDL for devdocs.io"
Hello again. MDL was accepted into To Do section so it needs some votes. Will be nice if this message will appear somewhere(site or this repo) for more views.
Where to vote: https://trello.com/c/M7O6Qu7f/252-material-design-lite
Sorry, but I don't know where I had to put this message

[2015-08-30 13:04] CyanoFresh commented on #1509
@surma Thanks but I need more "official" solution with last version (not only 1.0.4)

[2015-08-30 13:08] surma commented on #1509
I do see where you are coming from, but personally: I don’t think there’s any benefit in having an additional bower package for the themed versions to justify the additional effort. Let’s loop in @addyosmani and @sgomes to get their 2 cents on this :)

[2015-08-30 21:02] pierr opened #1511 "[milestone] it seems there is a problem with date and versions"
It seems there is a problem with the milestone version and the release date.
Is **v1.1** really due by October 15  ?
![milestone](https://cloud.githubusercontent.com/assets/286966/9569416/369d72a4-4f6b-11e5-91dd-7883fb2e39c5.png)

[2015-08-30 21:24] surma commented on #1511
Yeah, the v2 is more of a symbolic milestone right now. We should probably remove the deadline or move it very far into the future. @addyosmani or @sgomes you mind?

[2015-08-30 22:10] pierr commented on #1511
Ok thanks for the quick reply.

[2015-08-30 22:37] duyluandethuong opened #1512 "Page does not auto scroll back to top when touching iOS status bar"
In all pages, including the main page of MDL and all templates, when you touch the status bar in Mobile Safari, it should scrolls the page back to top. But it does not. I am investigating the mdl css file to find the issues, while informing you guys about this. Will update the issue once I find something.

[2015-08-30 23:07] filipewl commented on #1447
I cloned the repo.
npm: 2.11.3
node: v0.12.7
OSX Yosemite

I was having the same problem described in the issue. I was able to solve it by removing Node modules with `rm -rf node_modules` and re-rerunning `npm install`.

[2015-08-30 23:13] surma commented on #1512
This is effectively a duplicate of #1072 (same cause). Sadly, this cannot be fixed before v2. So closing in favor of that issue.

[2015-08-30 23:13] #1512 closed

[2015-08-31 02:12] tkisme commented on #1447
@filipewl just like what you said,thanks

[2015-08-31 02:13] #1447 closed

[2015-08-31 04:47] oniseun commented on #786
Thought one was used in the showcase website http://styleguide.material-design-lite.pub/#/dialog

[2015-08-31 04:51] oniseun commented on #781
Please guys, I need your help on this one.
Any idea on how to get the codes for the dialog box in this link http://styleguide.material-design-lite.pub/#/dialog
I will gladly appreciate

[2015-08-31 05:11] foo-baar commented on #781
@oniseun : Dart material is not Material Design Lite, both are different libraries, pick one for your job, that solves your purpose.

[2015-08-31 07:33] oniseun commented on #781
@footboard Used to think they were the same. Thanks for that

[2015-08-31 10:55] activatedgeek opened #1513 "Conflicts with external JS/CSS files"
I have the following includes setup given in order(will be stripping down dependencies later):
[code]

[code]

This is giving errors in the behavior of MDL  Text Field component.

![ezgif com-gif-maker](https://cloud.githubusercontent.com/assets/3909933/9576989/cddbfd22-4ffa-11e5-8deb-bb91302782af.gif)

Two issues can be observed here:
* The focus underline seems shifted.
* On losing focus, the fl

[2015-08-31 11:27] surma commented on #786
@oniseun The Dart version of MDL is not by us but by the prolific @MikeMitterer. Has has done some elements on his own that we don’t have yet.

[2015-08-31 11:29] surma commented on #1513
@activatedgeek Could you do us a favor and whip up a codepen that reproduces the issue?

[2015-08-31 11:33] surma commented on #1507
Thanks for the link, @f0rmat1k. It is indeed a good resource, although I think it’s redundant with [the one we already have](https://en.bem.info/method/).

[2015-08-31 11:33] #1507 closed

[2015-08-31 12:28] surma commented on #1500
Sadly, I don’t have a Samsung phone handy, but it seems like the issue you are encountering is specific to that phone or browser.

[Here’s a codepen](http://codepen.io/surma/pen/ojNLqL) where I switch out the `menu` for `android` and it works fine for me. Could give that codepen a run on your phone and report the results back to us?

[2015-08-31 13:21] Garbee commented on #1510
If people want us to have docs in other places, cool. However this isn't a problem with what MDL provides so I'm closing it out since there is no action we can or should take as far as I can tell.

[2015-08-31 13:21] #1510 closed

[2015-08-31 13:57] activatedgeek commented on #1513
@surma Hey, check the reproducible code [here](http://codepen.io/activatedgeek/pen/JYjREN)

[2015-08-31 14:02] duyluandethuong commented on #1500
No it still does not work. The menu is there, I can click on it, but the android icon does not show up. I think the problem is about the **lirature**, but I have tried to changed it to *&#xE5D2;* in the code pen and it still does not work. Could try to change that in the mdl.js source code?

[2015-08-31 14:03] duyluandethuong commented on #1500
Yeah it should be Samsung browser's issue

[2015-08-31 14:15] surma commented on #1513
@activatedgeek Yup, this is definitely due to bootstraps styling.

They apply a `margin-bottom: 5px` to `<label>`, which is where the offset is coming from. These are issues you have to resolve with manual styles, nothing we can do about that.

If you need help with that, please head over to StackOverflow and use the `material-design-lite` tag. The GH issue tracker is for bugs in MDL only.

[2015-08-31 14:15] #1513 closed

[2015-08-31 14:17] surma commented on #1500
@duyluandethuong Sorry, nothing more we can do about this. Closing the issue for now.

[2015-08-31 14:17] #1500 closed

[2015-08-31 14:23] activatedgeek commented on #1513
Thanks! :+1:

[2015-08-31 22:49] seanmavley opened #1515 "Grid Centering"
Coming from Zurb Foundation, the first thing I noticed missing (or I couldn't do in cleanest form possible) in mdl was grid centering.

At the moment, I do this to center my grid in max screen mode in mdl
[code]
Same thing above could have been done in foundation as
[code]

The `large-centered` class makes all the difference. Can this be considered as a feature request?

[2015-09-01 00:08] puranjayjain opened #1516 "Progress component SVG deprecation warning - Chrome"
SVG's SMIL animations (`<animate>`, `<set>`, etc.) are deprecated and will be removed. Please use CSS animations or Web animations instead.

[2015-09-01 02:03] jig9 opened #1517 "Links In Layout Not Working In MSEDGE"
I had used the tutorial on the transparent layout . But both the title and the links will not show on MS Edge
It works perfectly with Chrome.

[2015-09-01 07:40] Tommass commented on #1369
Hi,
i have the same problem using mdl-js-layout class. (I work with React.js).
To solve the problem I have to remove remove mdl-js-layout.

[2015-09-01 08:47] dengere commented on #1458
hello go to page http://www.getmdl.io/templates/index.html
while you over any image second scroll display also.. do
!
[untitled](https://cloud.githubusercontent.com/assets/5771761/9599770/34e3d112-509f-11e5-919e-d6e7b42e44f3.png)
you need codepen isolation already?

[2015-09-01 10:00] hebbet commented on #1516
can you provide an example where that happens?

[2015-09-01 10:08] Garbee commented on #1516
When using progress most likely.

We know of the deprecation warning and as I recall there is no alternative to what we are doing with pure CSS animations.

Further, deprecation will take a *very* long time to be rolled out and then removed. No real worry about SVG animations being used right now.

cc @surma and @sgomes to see what they want to do with this issue.

[2015-09-01 10:10] Garbee commented on #1458
Unable to replicate with Chrome Version 46.0.2490.6 dev (64-bit). Could be an issue in the engine already fixed.

[2015-09-01 10:49] surma commented on #1515
Our grid is not supposed to be an entire layout engine, we are keeping it intentionally simple – both in features and code. If I understand your intent correctly, I’d use `margin: 0 auto;` to center content. I’d not be using the grid at all. I’d encourage you to take a look at the code of our templates, where we use the grid.

As for this issue, I don’t see us implementing this,

[2015-09-01 10:49] #1515 closed

[2015-09-01 10:55] surma commented on #1517
@jig9 The demo (and the corresponding codepen) work fine for me in Edge. Could you provide us with a codepen, that reproduces the issue for you?

[2015-09-01 11:02] surma commented on #1516
Thanks for the warning, @puranjayjain :)
The current progressbar only uses SMIL in blink properly anyways, since most other browsers handle masks differently or not at all.

Realistically, though, I don’t see any work being done on this before v2 and that will probably be a proper rewrite anyways. I’d vote for closing this.

[2015-09-01 11:32] Garbee commented on #1516
Closing on up based on previous comment.

Thanks!

[2015-09-01 11:32] #1516 closed

[2015-09-01 11:33] Garbee commented on #1515
The new offset classes added in for V1.1 will also help here. And the last dummy column isn't necessary at all.

[2015-09-01 12:21] sgomes commented on #239
@Garbee Given that the grid is already IE10+, do you still think adding the `mdl-grid--order-N` classes is a bad idea?

@addyosmani @surma interested in your opinions too!

[2015-09-01 12:34] surma commented on #239
I am all for exploiting and exposing the capabilities of flexbox. I think `mdl-grid--order-N` will give the grid a lot of power while keeping it programmatically simple.  The only thing I do not know: Is `box-ordinal-group` behaving exactly the same in IE10 as `order` in Evergreen?

[2015-09-01 12:37] sgomes commented on #239
@surma I can easily run some tests to determine that. If it doesn't, it's probably reason enough not to go ahead with the order classes.

[2015-09-01 12:47] sgomes commented on #1509
I think keeping multiple bower packages would be a huge commitment that would turn out very difficult to maintain, I'm afraid.

The only way forward on this, in my opinion, would be to use post-install hooks to generate the actual CSS from the template files, like we do on the generator, based on some user-defined config somewhere. Unfortunately, I don't know enough about bower to even know whethe

[2015-09-01 12:50] emirdeliz opened #1520 "Support of development for Angular2"
Hello,

The MDL contains suporte for development with angular2? I tried used button with effect 'mdl-js-ripple-effect'. After loading page effect is working, but when utilized event click as '(click)="someFunction()"', this not working. What seems MDL overwrites click function of angular2. Somebody use something like this?

[2015-09-01 12:55] addyosmani commented on #1520
MDL is primarily targeted at projects building sites that require vanilla JS. While we do support a level of dynamic JS component creation, we don't currently target special support for any specific third-party libraries and this includes Angular2. If you're looking for a Material library to use with Angular I would recommend checking out https://github.com/angular/material which is a better fit.

[2015-09-01 12:55] #1520 closed

[2015-09-01 12:56] addyosmani commented on #239
:+1: `mdl-grid--order-N`

[2015-09-01 12:56] surma commented on #1520
Additionally, you could try heading over to StackOverflow using the `material-design-lite` tag. A lot of people have spent time getting MDL to work with Angular, so I can imagine there’s some Angular2 going on as well :)

[2015-09-01 12:59] dengere commented on #1458
@Garbee yes! :+1:
updated my chrome to version: 44.0.2403.157 m  (32 bit) and no issue.

[2015-09-01 12:59] #1458 closed

[2015-09-01 13:01] emirdeliz commented on #1520
Thank you!

[2015-09-01 13:09] Garbee commented on #239
sgtm to move forward given browser support.

Worth noting, this is just showing that our existing "browser support" guidelines are confusing. Since this component is CSS only it *should* function within IE9 to a good extent.

[2015-09-01 13:17] sgomes commented on #239
@Garbee Yes, we should probably make the guidelines clearer. Sadly, I don't think it's realistic to retroactively add support for IE9, since it would be an entirely different implementation based around completely different technology (`float`s, mostly).

[2015-09-01 14:04] stunaz opened #1521 "Adding fields in a form dynamically"
Hi,
Is there a way to add dynamic fields to a form via javascript ? Seems like i can't do it just by add a field with his mdl properties. Doing this way I have no animation (the label doesn't move up) with the added field, and I guess no validation.

[2015-09-01 14:06] hamdi-garfi opened #1522 "Site Showcasmlmle Request"
Please include:
* Description
* Primary Link
* Screenshot

[2015-09-01 14:13] Garbee commented on #1522
Closing since no information was provided.

[2015-09-01 14:13] #1522 closed

[2015-09-01 14:14] Garbee commented on #1521
You need to upgrade the components that get added in. An example of how to do this is shown in the [getting started guide](http://www.getmdl.io/started/index.html) under the dynamic usage section.

[2015-09-01 14:41] sgomes commented on #206
@samosfator Could you elaborate on your "+1"? Are you running into this issue, and if so, could you provide more details?

[2015-09-01 17:44] wlekin opened #1523 "mdl header show under the main content in safari"
hi, i am using jquery load() to get the mdl header and content page, however, the mdl header show under the content in safari ( both mac and ios ), chrome and opera work fine, any advices are appreciated, thanks!!!!!!!
my web url: 9up.today:9001

also, i cannot click the first link in the footer dropdown section ( it will close the dropdown section ), others links is fine.

![screen shot 2015-09-0

[2015-09-02 04:19] BrennanMcDonald opened #1526 "Waterfall header hides content"
Im having an issue with the waterfall header.

Framework: Ruby on Rails
MDL Version: v1.0.4
Browser and OS: Chrome Version 44.0.2403.157 m on Windows 10 x64

When i have content on a page and have a waterfall header in my master page, the original content of the page is hidden under the header until I click a blank link. (e.g. `<a class="mdl-navigation__link" href="">Link</a>`)

The code I am usin

[2015-09-02 08:40] #1235 closed

[2015-09-02 08:44] addyosmani commented on #1511
V2 is definitely aimed at farther in the future. I'll push back to Jan.

[2015-09-02 08:44] #1511 closed

[2015-09-02 10:56] surma commented on #1526
Hey @BrennanMcDonald, could you do us a favor and turn that gist into a proper codepen so we have sample that reproduces the issue?

[2015-09-02 11:01] sanjay1688 opened #1527 "Modal or Dialogbox component?"
Would be great to have a modal component. Waiting from long time

[2015-09-02 11:03] sanjay1688 opened #1528 "Date, Time Pickers componet"
It would be great to have  Time Picker componet.

[2015-09-02 11:04] sanjay1688 opened #1529 "Select Box Or Dropdown component."
It would be great to have Select Box Or Dropdown component.

[2015-09-02 11:19] surma commented on #1527
Duplicate #781

[2015-09-02 11:19] #1527 closed

[2015-09-02 11:19] surma commented on #1528
Duplicate #782.

[2015-09-02 11:19] #1528 closed

[2015-09-02 11:20] surma commented on #1529
Duplicate #854. Please use the search in the future.

[2015-09-02 11:20] #1529 closed

[2015-09-02 11:54] web2style opened #1530 "Switch cursor issue"
When switch is off, the cursor over it is pointer. But when you turn the switch on, cursor is no longer pointer. Is it a bug or intentional behavior?

[2015-09-02 12:26] surma commented on #1530
I think that’s a bug. Good catch, @web2style.

[2015-09-02 14:36] GradyD opened #1531 "Document the component API"
Please document the `@public` methods of components.

[2015-09-02 14:53] Garbee commented on #1531
Duplicate of #1008

[2015-09-02 14:53] #1531 closed

[2015-09-02 15:16] BrennanMcDonald commented on #1526
Upon further review, issue was created by conflicting style-sheet.

[2015-09-02 15:16] #1526 closed

[2015-09-02 15:53] gauntface opened #1533 "Color overrides"
Just started to look into why a color override was broken and ultimately it came down to the requirement of needing to copy the format of the color palette variables:

$palette-indigo:
"232,234,246"
"197,202,233"
"159,168,218"
"121,134,203"
"92,107,192"
"63,81,181"
"57,73,171"
"48,63,159"
"40,53,147"
"26,35,126"
"140,158,255"
"83,109,254"
"61,90,254"
"48,79,254";

This was a problem because I was

[2015-09-02 17:21] mustafa-x opened #1534 "Adding the Visual Tests to the FAQ / getmdl.io website"
I really like the visual tests  as they show examples of how things work. Would it be possible to add this ti the getmdl.io website?

[2015-09-02 17:22] Garbee commented on #1534
The tests are generated from the same snippets used to create the component pages. So they are already there.

What exactly did you want done?

[2015-09-02 17:24] mustafa-x commented on #1534
I was getting a bit ambitious and trying to generate a Pattern library / Style guide. I find them easier to design, looking at all elements in context. A bit like http://demo.patternlab.io/

[2015-09-03 02:36] krishnakumar-kapil opened #1536 "Textarea!"
* Allows users to input a multiline message
* Material Design Spec linkhttps://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bzhp5Z4wHba3VlBlN2N6TkZ2TFE/components_textfields_multiline1.png
* Use Case(s) - In forms

[2015-09-03 07:07] disillusions opened #1537 "Drawer button selector"
As of nested layouts (one in one) I think var drawerButton must be this.element_.querySelector(':scope >.' + this.CssClasses_.DRAWER_BTN); But I don't know what to do with IE. Maybe smth like this http://stackoverflow.com/a/17989803/5295695

[2015-09-03 09:38] Garbee commented on #1536
It is already in the Textfield component.

[2015-09-03 09:38] #1536 closed

[2015-09-03 09:39] Garbee commented on #1537
Closing this out since it doesn't seem like a problem with what MDL provides. Please use StackOverflow for support in using and implementing sites with it.

[2015-09-03 09:39] #1537 closed

[2015-09-03 11:21] stevebest opened #1538 "Cards: `.mdl-card__subtitle-text` uses non-customizable `grey` text color"
https://github.com/google/material-design-lite/blob/v1.0.4/src/card/_card.scss#L76

This basically prevents using card subtitles on non-white backgrounds, unless overridden in a user stylesheet.

Perhaps it should specify no color and use `opacity` instead?

[2015-09-03 11:22] alien3d opened #1539 "manual javascript for components and it's bug"
Text Field
1\. need to mention the validation error are using html5 object. http://pastebin.com/rnwNHWv8
2\. Table: Weird padding left 24 on first td.. ?What purpose of it..Can be table with no weird padding upon put in

[code]

3\. Normal jquery prop checked wouldn't changed the  switch on and off.Is there any example jquery/javascript can toggle the switch ?

[2015-09-03 11:23] surma commented on #1538
The hard-coded color is definitely an oversight, although I *think* the grey is defined by the spec. Looping in @Garbee for more input on this :)

[2015-09-03 11:31] alien3d commented on #1502
i have update to the latest still bug? have been commited ? thansk rzr999 for given choice.

[2015-09-03 11:32] surma commented on #1539
Before I start: Please open one issue per bug that you find in the future. Bonus points for using codepen examples that reproduce the issue.

1. I agree that we could make that more explicit in the docs. However, is there any other way of validation than what the browser provides (Considering the examples don’t mention any form of custom validation shipped with MDL)?

2. Data Tables have a very cl

[2015-09-03 11:32] #1539 closed

[2015-09-03 11:36] surma commented on #1539
I hope I answered your questions sufficiently. If not, please feel free to re-open this :) However, keep in mind that the issue tracker on GitHub is for bugs only. For support, please head over to Stackoverflow and user the `material-design-lite` tag :)

[2015-09-03 11:40] stevebest commented on #1538
BTW, spec is inconsistent in naming this component:

- in text it's either `subtext` or `subtitle`,
- on screenshots it's `subhead`.

On some screenshots it (or its doppelgänger :wink:) is pure white, and some are white-ish grey, much brighter than just `grey`.

https://www.google.com/design/spec/components/cards.html

[2015-09-03 11:43] surma commented on #1502
@alien3d Since the issue is still open, this has not been fixed. @rzr999 had been working on a PR (#1503), you can see the previous attempt and progress there.

[2015-09-03 11:45] MarcusJT opened #1540 "State of switches should automatically reflect state of the underlying input's "checked" property"
At present modification of the `.checked` property of the underlying input of switches (and perhaps other similar components, e.g. radio and checkboxes, I haven't checked, pun intended) doesn't automatically result in an update to the presentation layer - instead a manual call to  `.MaterialCheckbox.check()` or `.MaterialCheckbox.uncheck()` is needed.

I propose that this shouldn't be the case, MD

[2015-09-03 11:58] surma commented on #1540
I agree that deviating from the “Standard API” – if you will – is rather suboptimal. That’s one of the lessons we learned so far. We could try to incorporate that without it being a BC by keeping the old API but adjusting the styles, but I suspect it’s not as easy as it sounds so we might have to push this back to v2. We’ll investigate that further.

[2015-09-03 12:04] alien3d commented on #1539
okay i open another. 1 by one 1.

[2015-09-03 12:14] Garbee commented on #1539
Please don't open issues for point's 1 and 3. They are support/usage questions and should be put on StackOverflow. Point 2 here looks to be the only thing we need to review internally to see if there is a problem.

[2015-09-03 12:17] Garbee commented on #1540
This isn't feasible without observers. If a developer changes the `checked` property using JS, no event is fired. It needs to be manually ran by developers to have any event handlers fire off. This is why we have the internal API for handling these things and updating the presentation.

[2015-09-03 12:18] alien3d opened #1541 "table th and td first padding."
Image 1 .http://snag.gy/JEwRv.jpg
Image 2  http://snag.gy/GHW1n.jpg
Image 3 http://snag.gy/rloOA.jpg
1. User experience doesn't suppose to have check box at left side.It might be on the right side . It might be a list of row.
Refer to Image 1

2. Normal with td should be fixed not overwritten by padding.
Refer to Image 2. and Image 3

3. By Normal like Contact must have filter character and row. I

[2015-09-03 12:19] surma commented on #1540
@Garbee I was wondering if we can implement this using CSS only (i.e. using the  `[checked]` selector), but I guess that would require a BC.

[2015-09-03 12:20] Garbee commented on #1541
Can you please provide a [codepen](http://codepen.io) that reproduces the problem? It is hard to understand what the exact problem is with the images and description provided. Much less be able to recreate it.

[2015-09-03 12:23] Garbee commented on #1540
Yes, BC break there for sure. But, we also have to think about error handling, which still requires JS to function with the way we need to do markup structure. So, that complicates things further if you check something and the UX updates, but it goes into an invalid state and you don't call our checkValidity method to handle updating the UX for that.

We need to write up an example component and s

[2015-09-03 12:23] alien3d commented on #1539
for number 3 , i have check at stack over flow and it's suggest   but it output same error

TypeError: document.querySelector(...).MaterialCheckbox is undefined
	document.querySelector('#'+id).MaterialCheckbox.check()

reference image :http://snag.gy/g6kTV.jpg

[2015-09-03 12:24] Garbee commented on #1539
Let's please keep support *on* StackOverflow where the most developers can get the information.

[2015-09-03 12:35] Garbee commented on #1538
Screenshots in the spec should be taken with a grain of salt. Always go with written text over the visual examples.

On the note of proper color, it should be 54% of black or the primary color. Let's go with straight black here to keep it simple and if developers want to go with primary color they can do that themselves. This comes from the [subheader spec](https://www.google.com/design/spec/compo

[2015-09-03 12:48] alien3d commented on #1541
other bugs... own mistake.

[2015-09-03 12:48] #1541 closed

[2015-09-03 14:15] alien3d commented on #1540
Garbee  at least sample like i just try here would very help full.

http://codepen.io/anon/pen/QjwKQR.

I not much knew javascript oop   but when i open phpstorm and  see green color unlock then i know what to test like  checkDisabled, checkToggleState,disable,enable ,on,off.

** sorry if i got wrong idea of the topic..

[2015-09-03 14:16] gauntface commented on #1533
In case anyone else is finding the same issues.

For background read this bug:

Possible solution would be to take an approach like this: http://sassmeister.com/gist/a35decd4b14d9e2a37c2

If anyone see's any big issues with this, please comment.

[2015-09-03 14:22] Garbee commented on #1540
Yea, I know the code to make it function now. I meant we would need to mockup an example of the modified methodology proposed and play around with that to see how it functions.

[2015-09-03 18:48] rohanthacker commented on #584
Is anyone working actively on the List Component? Would be more than willing to help out and get this feature added into MDL

[2015-09-03 18:51] Garbee commented on #584
It isn't assigned to anyone. So I'd assume no current work is being done on the component.

Give it a shot if you want. Community contributions always welcome.

[2015-09-03 18:54] rohanthacker commented on #584
Great, Thank you. will give it try.

If anyone else wants to help out please do get in touch.

[2015-09-03 19:34] rohanthacker commented on #578
@addyosmani  Hey Addy, is the code you refer to above available on github?

[2015-09-03 20:01] Garbee commented on #578
@rohanthacker It is in the history of this repository yes. You can see what was removed in pr #581. Just remember you have a clean slate to implement the spec as best you can. No real need to work from what was done previously.

[2015-09-03 20:06] rohanthacker commented on #578
+1 Will look through thanks again.

[2015-09-03 20:20] nickretallack opened #1544 "Date picker and Time picker"
Is this a new component, or a missing feature in an existing one? New
Component name: Pickers: Date picker, Time picker
Material Design spec URL for the component (if any): https://www.google.com/design/spec/components/pickers.html

What does this component or feature allow you to do which isn’t possible at the moment?
Have a nice UI for picking a date and time.  Good general purpose UI for this i

[2015-09-03 20:49] Garbee commented on #1544
Duplicate #782

[2015-09-03 20:49] #1544 closed

[2015-09-03 21:57] vasiliy-pdk commented on #1089
Hi, guys. I got the same error on Ubuntu 14.04.

I fixed it with explicitly setting version for phantomjs like `"phantomjs": "1.9.7-14"`.

npm-debug.log content:
[code]

[2015-09-03 22:20] accessibleweb commented on #1342
Same problem for me

[2015-09-03 22:39] vasiliy-pdk opened #1545 "Build fails with gulp command"
Build fails with `gulp` or `gulp all && gulp serve` commands.

Ubuntu 14.04, node v0.12.7 on master (  633a0399 )

[code]

[2015-09-03 23:42] surma commented on #1545
Hey @vasiliy-pdk,

I can’t seem to reproduce the issue. Can you do the following for me:
[code]

[2015-09-04 01:27] smcardle commented on #1014
Here is a simple way to change default MD icons IF YOU HAVE TO....

Personally I think there should be a better way as it's your site and your rules. Being told it's a non-MD spec'ed menu icon is a bit too ridged for my liking, thats the reason I choose Android devices and not IOS .

Personally we use the Drawer as a chat area for our app rather than a menu of any kind and we wanted a chat icon in

[2015-09-04 01:46] smcardle opened #1546 "Add divider for menus"
As far as I can see there is no divider css styles for menus.

Can this be added ...

Regards

[2015-09-04 01:55] Garbee commented on #1546
Can you provide a reference in the specification for where this is defined?

[2015-09-04 02:15] smcardle commented on #1546
Sure

General divider spec
https://www.google.com/design/spec/components/dividers.html

Usage in a menu

https://www.google.com/design/spec/components/menus.html#menus-usage

Regards

[2015-09-04 02:32] smcardle opened #1548 "Menus add icons and helper text, like keyboard shortcuts, as well as controls like checkmarks"
It seems that there is currently no support for icons etc in menu items.
It would be good to get this added to the MDL menu support.

See : https://www.google.com/design/spec/components/menus.html#menus-menu-items

I have tries to add check boxes to a menu item in MDL without much success, the text and checkbox do not line up, the menu does not seem to scale in width with the size of the text and

[2015-09-04 02:35] smcardle commented on #1548
Ignore the comment about not scaling width as the current MDL menu items actually do....

[2015-09-04 06:22] web2style commented on #8
I would like to say, than not everyone is using gulp. I'm using webpack with url loader and I have to manually rewrite all the urls to `url(mdl/images/tick-mask.svg)` for it to work properly. So maybe we can use a variable here to concatenate with image name. For example:

[code]

Or even create a mixin like this:

[code]

[2015-09-04 07:25] reinholdk commented on #1134
I'm using 1.0.4. MaterialLayout is still not being removed from createdComponents_ when calling downgradeElements. This is quite critical since a layout usually occupies quite some memory in the _content property.

[2015-09-04 09:15] vasiliy-pdk commented on #1545
Thanks. I've retried multiple times. Got several `npm ERR! shasum check failed for ...` messages.
But seems now all dependencies had been resolved correctly and gulp finished build with success.

[2015-09-04 10:11] Garbee commented on #1134
@reinholdk Issue #1340 is more appropriate for discussion on that point. I'll respond over there to your comment.

[2015-09-04 10:12] Garbee commented on #1340
FTR, unless someone implements downgrading for Layout in 1.1 it probably won't ever happen when calling `downgradeElements()`. We need to create a whole new method to just remove something from the created components array. However, this will still have leaks since event listeners and such won't be unbound.

Layout is a very complex downgrade to handle. It is also an edge-case to be downgraded (si

[2015-09-04 11:22] flying-sheep opened #1549 "body.mdl-layout gets wrapped in a div"
when specifying the CSS class `mdl-layout` on `<body>`, layout.js wraps it in a `<div class="mdl-layout__container">`.

it should ensure that the body element’s parent stays `<html>`

[2015-09-04 11:58] Garbee commented on #1549
The [documentation](https://github.com/google/material-design-lite/tree/master/src/layout#to-include-a-basic-mdl-layout-component) is pretty clear that you need to code a div within the body to use layout against. Not sure there is anything we should do here.

[2015-09-04 12:20] flying-sheep commented on #1549
that’s a tutorial, not a specification.

besides, farther down on the same page, it says

and indeed. why should anything be required of that container apart from it being a block-level element?

body, main, section, article, … are all fitting imho

[2015-09-04 12:59] flying-sheep opened #1550 "color defined on html but not background-color"
i have a dark color theme which results in black-on-darkgray text for me.

please either define no color (or `color:initial`) on `html` and e.g. `.mdl-button`, or define `background-color: white` on `html`

[2015-09-04 13:05] reinholdk commented on #1340
I see. I could rework the application to use a single instance of MaterialLayout instead of destroying/recreating it.

[2015-09-04 13:28] Garbee commented on #1549
From the same line you pulled from the configuration...

Supporting layout directly on the body like this is going to be an edge-case and the proper thing to do is as the documentation says and set it up *within* the body, not on it (which as far as I can tell is implied nowhere.) The Layout is going to undergo a complete refactor with 2.x already, we can keep this in mind when working on that.

[2015-09-04 13:28] #1549 closed

[2015-09-04 13:30] Garbee commented on #1550
Can you provide a sample (preferably via [codepen](http://codepen.io) ) that reproduces the problem?

[2015-09-04 13:32] mspl13 commented on #1546
What about just using an `<hr />` or a `border-bottom` for those purposes?

[2015-09-04 13:46] Garbee commented on #1546
Doing a modifier against menu items with border-bottom styling seems best here.

[2015-09-04 14:46] flying-sheep commented on #1550
it‘s easier to just fix it but here you go:

1. use linux
2. use a dark theme
3. Click “Preferences → Content → Colors…”, then check “Use system colors”
4. Go to http://getmdl.io

even though you use `.mdl-color-text--grey-600`, you will still see that the second box (the `<main>` element) has a dark background.

fix it by adding `html { background-color: white }`

[2015-09-04 14:56] Garbee commented on #1550
Unable to replicate the problem as shown in the screenshot.

![selection_009](https://cloud.githubusercontent.com/assets/868301/9686741/68fc0108-52f3-11e5-850f-9802f89e8434.png)

Using Mate with the BlackMate theme.

Can you please provide more accurate steps to reproduce? What exact colors in the system theme need to be changed and where?

[2015-09-04 15:31] flying-sheep commented on #1550
oh, sorry! not plain getmdl.io, but you can see it [here](http://www.getmdl.io/templates/android-dot-com/index.html#screens)

![snapshot_tj2118](https://cloud.githubusercontent.com/assets/291575/9687633/ac4ca02a-532a-11e5-9d19-ea8dcec272f5.png)

i’m using firefox 40 and the dark version of https://github.com/dirruk1/gnome-breeze (firefox 40 is still gtk-2, so the gtk-2.0 version of that theme)

[2015-09-04 15:36] flying-sheep opened #1552 "some bugs on getmdl.io"
it is pretty buggy right now:

1. in the footer there’s no space between the links:

    ![snapshot_tj2397](https://cloud.githubusercontent.com/assets/291575/9687727/3ec9fbbe-532b-11e5-817c-a333602291a0.png)

2. the components docs contain broken markup:

    ![snapshot_tj2471](https://cloud.githubusercontent.com/assets/291575/9687752/62dac826-532b-11e5-813e-2acdc428597a.png)

[2015-09-04 15:49] Garbee commented on #1552
Both already fixed. Just waiting for next site refresh.

[2015-09-04 15:49] #1552 closed

[2015-09-04 18:45] kuu opened #1553 "Minified files are not included in the npm package"
The document states that `material.min.*` files will be installed in your project's `node_module` folder by `npm install material-design-lite`
But you really have to manually compile them.

[2015-09-04 22:26] addyosmani commented on #1545
Closing as this appears to be fixed now.

[2015-09-04 22:26] #1545 closed

[2015-09-04 22:26] addyosmani opened #1554 "Small markdown bugs in the checkbox component page"
![](http://i.imgur.com/7mSZ1o2.png)

[2015-09-04 22:44] Garbee commented on #1554
I thought this was already fixed. It was with the spacing between markup statements and the text. A site refresh should fix it.

[2015-09-05 04:20] faridprogrammer opened #1555 "Components style disappearing (Checkbox and textbox)"
I am writing an angular js 1.X mobile application that is built with cordova.
When using MDL checkbox style when a view loads first it works fine but when changing between views the style for components disappears. For now I am using checkbox and text input elements .
Is there some one that experience this?

[2015-09-05 08:00] smcardle commented on #1546
I agree that border-bottom would work here and It was something I considered, but I think it is also unintuitive to many.

Also, dynamically adding items to menus in groups may become somewhat confusing and more difficult to handle. In this case I expect a <hr /> maybe better placed but at least there would be options.

However, as a stop gap, until a proper solution in line with the specs can be

[2015-09-05 09:32] Garbee commented on #1555
Please use StackOverflow for support requests. This way as many developers as possible can help and find similar problems. There is a `material-design-lite` tag to show you are using MDL.

[2015-09-05 09:32] #1555 closed

[2015-09-05 11:38] filippomartini opened #1556 "Attribute for not allowed on element ul at this point"
The Menu component gives a validation error.
<img width="1285" alt="schermata 2015-09-05 alle 13 36 11" src="https://cloud.githubusercontent.com/assets/11539305/9699060/4e6db29c-53d3-11e5-869d-826c2bf3ddcd.png">

[2015-09-05 11:51] Garbee commented on #1546
The logistics between adding in a horizontal row dynamically or the modifier class is the same and not more difficult in any case that comes to mind. Somehow, you are going to need to detect when to add either and then carry out the task, so which is done doesn't seem like an issue.

Dividers can't live on its own. The way to implement it depends upon the component being targeted. Abstracting it o

[2015-09-05 11:52] Garbee commented on #1556
Technically invalid markup yes, but browsers do just fine with it. Nothing we should do about this until 2.x, if anything. Adding to the milestone for that as something to look into.

[2015-09-05 15:48] mspl13 commented on #1554
As far as I can tell the missing spaces were fixed/added in #1450.

[2015-09-05 15:51] hatzopoulos opened #1557 "Unstyled Markdown Headers on getmdl.io website"
While reading the docs on http://www.getmdl.io/components/index.html#layout-section I noticed the various markdown style headers are not rendering to header tags.

![image](https://cloud.githubusercontent.com/assets/1771931/9700046/282f211a-53c4-11e5-8911-c086eda3a335.png)

[2015-09-05 18:16] rohanthacker commented on #1557
Similar issue in discussion at #1554. #1450 has fixed this issue.

[2015-09-05 19:09] rohanthacker commented on #1323
I'm curious to know how would this be implement using vanilla  javascript.

As mentioned above this is a common for applications and this would be a whole lot better to implement with a framework, putting it out of the scope of this project right?

For example :
The usability of the component would be a whole lot more if implemented under https://github.com/mike-north/ember-material-lite taking ad

[2015-09-06 14:36] riddla commented on #592
I think this is still an issue:
![bildschirmfoto 2015-09-06 um 16 35 52](https://cloud.githubusercontent.com/assets/174157/9704926/6957f6a2-54b5-11e5-9347-1f128525757f.png)

[2015-09-06 19:29] steamonimo opened #1558 "Checkbox Label overflow"
The first time I have seen this behaviour was on my mobile phone. If the label of a checkbox is longer than there is horizontal space the label will wrap at the end of the line. This however does not reposition the following block objects. Thus the label will float over the next block object.

Here is the codepen to demonstrate the problem on the desktop:
http://codepen.io/steamonimo/pen/aOeOVg

B

[2015-09-06 19:32] Blechhirn commented on #1330
I am unable to reproduce this standalone, so I am closing this one. Probably the mixture of MDL and RiotJS that I am using is messing up some of the key events.

[2015-09-06 19:32] #1330 closed

[2015-09-07 10:34] mrfaizanhaider opened #1559 "Text Field issue"
there is just browser-default select option available for TEXT FILEDs.

there is any soloution for material select option??

[2015-09-07 12:56] surma commented on #1548
Thanks for the issue. You are right, our menu does not fully support the spec just yet. This will be addressed in the future.

Just as a side remark, we *do* support icons in the menus, as can be seen on the [dashboard template](http://www.getmdl.io/templates/dashboard/index.html)
<img width="259" alt="screenshot 2015-09-07 13 56 15" src="https://cloud.githubusercontent.com/assets/234957/9717167/3

[2015-09-07 13:03] surma commented on #1553
We screwed up our NPM push with 1.0.4. Please use `npm install material-design-lite@1.0.4-2` as a workaround. Sorry about that.

[2015-09-07 13:03] #1553 closed

[2015-09-07 13:05] surma commented on #1556
@Garbee @addyosmani @sgomes Is it worth our time to add additional support for `data-for` to allow strictly valid markup for the 1.x timeline?

[2015-09-07 13:06] surma commented on #1554
Yup, fixed by #1450.

[2015-09-07 13:06] #1554 closed

[2015-09-07 13:07] surma commented on #1557
Yup, this was fixes in #1450. Will go live with the next site push.

[2015-09-07 13:07] #1557 closed

[2015-09-07 13:10] surma commented on #1558
Thanks for the Codepen! The label definitely needs to expand vertically here. Although I suggest we talk to the MD team how this is supposed to behave.

[2015-09-07 13:13] surma commented on #1559
Duplicate of #854. We don’t have anything for select fields in MDL yet, sadly.

[2015-09-07 13:13] #1559 closed

[2015-09-07 14:32] Garbee commented on #1556
Sgtm for a 1.1 addition.
On Sep 7, 2015 9:06 AM, "Surma" <notifications@github.com> wrote:

[2015-09-07 14:37] addyosmani commented on #1556
SGTM for 1.1 too.

[2015-09-07 15:52] MikeMitterer opened #1560 "mdl-data-table__select should be part of MaterialDataTable.prototype.CssClasses_"

[2015-09-07 15:57] sgomes commented on #1556
:+1:

[2015-09-07 16:23] surma commented on #1560
Yup, agreed. Totally missed that in the review. [This section](https://github.com/google/material-design-lite/blob/master/src/data-table/data-table.js#L113-L117) needs a little cleanup. Nothing major, though.

[2015-09-07 16:24] #1523 closed

[2015-09-07 16:42] MikeMitterer commented on #1560
+ there are some other css-classes like mdl-checkbox__input aso.

No, I just stumbled across these classes while porting some things over to Dart...

If you are checking data-table maybe you can check something else:
If I check all checkboxes by selecting the header-checkbox and if I deselect one of the child checkboxes shouldn't the header-checkbox also deselect?
![checkboxes](https://cloud.githu

[2015-09-07 16:44] surma commented on #1560
@MikeMitterer You mind turning that into a separate issue? It’s probably a bug as well

[2015-09-07 16:54] surma opened #1561 "Uniffe doesn’t behave 😭"
Add the following two line after the top comment of [`mdlComponentHandler.js`](https://github.com/google/material-design-lite/blob/9422d9fa440207dde2c9d6168f1669f86c376b99/src/mdlComponentHandler.js).

[code]

[code]

(For some reason, can’t assign, so just pinging @samccone manually for this)

[2015-09-07 16:54] surma commented on #1561
Also, fun fact: Just adding `window.a = 'variable'` runs fine.

[2015-09-07 17:02] MikeMitterer commented on #1560
OK - I file another issue. (If I'm back from biking... ;-))

[2015-09-07 18:03] krishnakumar-kapil opened #1562 "[Add offsets to mdl-layout]{mdl-grid}"
* Description - Without offsets to the grid it becomes very challenging to deal with breakpoints on the largest of displays due to the constant resizings.
* Material Design Spec link - This is a web dev requirement and I do not believe it is there in material design though I am not sure
* Use Case(s) - Used pretty much everywhere when needed for centering / having offsets

[2015-09-07 18:47] hebbet commented on #1562
possible duplicate of #239

:mag: before filing a new :bug:

[2015-09-07 19:04] surma commented on #1562
Offsets have been added in #1460. Closing this :)

[2015-09-07 19:04] #1562 closed

[2015-09-07 20:07] rohanthacker commented on #1530
@web2style http://codepen.io/rohanthacker/pen/JYdEOV

What version are you using? With v1.4 the bug isn't visible

[2015-09-07 20:52] MikeMitterer opened #1564 "checking/unchecking row / parent checkboxes in data-table seem wrong"
If I check all checkboxes by selecting the header-checkbox and if I deselect one of the child checkboxes shouldn't the header-checkbox also deselect?
![checkboxes](https://cloud.githubusercontent.com/assets/116654/9722716/bec10c48-55b2-11e5-85ab-44d14a95972f.gif)

[2015-09-08 01:24] ArEnSc opened #1565 "Are there any material design transition animations ?"

[2015-09-08 05:35] Shyam-Chen opened #1566 "Bug: Table (Microsoft Edge)"
![default](https://cloud.githubusercontent.com/assets/13535256/10261506/c3755616-69cd-11e5-8116-b5bef6e65587.png)

[2015-09-08 05:47] alien3d opened #1567 "Material Icon color"
http://codepen.io/anon/pen/QjbgGv
All the color i take from _color-definition.scss
I done it because when i using <span class="material-class mdl-color-red">favorite</span>only color the background .
The naming standard following the http://google.github.io/material-design-icons/
Sample php script i generate this color http://pastebin.com/82GB8P6A

[2015-09-08 07:29] andyyou opened #1568 "After trigger form reset then the Textfield get wrong classes"
![img](http://i.imgur.com/xaAbMWe.png)

Although it's a bit issue...

[2015-09-08 08:49] andyyou commented on #1568
[codepen example](http://codepen.io/andyyou/pen/KdpmwK)

[2015-09-08 09:07] andyyou commented on #1568
I just trigger change itself but does any solution for that

[2015-09-08 10:14] andyyou commented on #1568
[solve in my solution](https://github.com/andyyou/material-design-lite/blob/master/src/textfield/textfield.js#L223)

Because I need some way to reset component.

[2015-09-08 10:40] wlekin commented on #984
Remove 'data-upgraded' attr from table, and upgradeDom again should did the trick.

[2015-09-08 10:53] Shyam-Chen commented on #1332
I have resolved.
![example code](http://codepen.io/Shyam-Chen/pen/oXOrQQ)

[2015-09-08 11:08] Garbee commented on #1564
Duplicate of #932

[2015-09-08 11:08] #1564 closed

[2015-09-08 11:10] Garbee commented on #984
@wlekin That is not a good solution. It will lead to memory leaks by having multiple copies of the table node in the component handler's registry of upgraded nodes.

[2015-09-08 11:11] Garbee commented on #1568
@andyyou Can you PR that fix? Looks like a good solution to the problem.

[2015-09-08 11:16] Garbee commented on #1567
The `mdl-color-text--{color}` classes work just fine with Material Icons. No need to add extra weight for no benefit. You can see all that are available in [_palette.scss](https://github.com/google/material-design-lite/blob/master/src/palette/_palette.scss)

[2015-09-08 11:16] #1567 closed

[2015-09-08 11:20] Garbee commented on #1566
The example [codepen](http://codepen.io/Shyam-Chen/pen/zGeYmb). I don't have Edge handy right now to test against. Will check later once I do.

[2015-09-08 11:20] surma commented on #1565
There are a lot of animations in the [MD spec](https://www.google.com/design/spec/material-design/introduction.html). All the components we provide try to stay as close as technically possible to the animations shown in the spec. Not every animation has a corresponding component in MDL, though.

Is that an answer to your question?

[2015-09-08 11:25] mrfaizanhaider commented on #1559
so what about future???

[2015-09-08 11:26] surma commented on #1566
I see the same bug in Edge.

[2015-09-08 11:48] surma commented on #1559
@mrfaizanhaider Please read the issue #854 I linked to. We will implement select fields.

[2015-09-08 11:49] surma commented on #1566
Also, Edge keeps crashing when I open the inspector. We might have another Edge bug here, hard to be sure though.

[2015-09-08 12:23] S-YOU commented on #1566
making **th** same as **td** seems to be fixed for me.

[code]

[2015-09-08 12:37] S-YOU commented on #1566
making th same as td and removing bottom from select seems to be fixed for me.

http://codepen.io/S-YOU/pen/YyXYyG

[code]

`.mdl-data-table th .mdl-data-table__select {`
~~bottom: 8px;~~
`}`

[2015-09-08 12:49] andyyou commented on #1568
OK

[2015-09-08 12:53] Garbee commented on #1566
If what we have works in Chrome, FF, Safari, and even IE but not Edge, then it should be considered a bug in Edge that needs reporting to them.

[2015-09-08 16:29] mfonville commented on #1427
Can't this be added to the 1.0.x series too?

[2015-09-08 16:41] ArEnSc commented on #1565
For instance if I wanted to do an on enter transition and on leave transition, I would assume that I would have to program it my self ?

[2015-09-08 16:50] surma commented on #1565
Correct. We don’t have any components for animations of that kind right now nor do we have immediate plans to provide such components. This is both part of the *Lite* philosophy and our relatively generous browser support philosophy.

We may consider this in the future, but probably not before v2.

[2015-09-08 16:50] #1565 closed

[2015-09-08 17:11] Garbee commented on #1427
The milestone is just a target for us to look into this by. It isn't stating it will only apply to that version on the server. Odd milestone since this is a server problem, but making extra milestones to sit besides versions would get confusing.

[2015-09-08 21:53] skolade opened #1572 "Data-Badge Dynamic Update"
Data-badge does not watch for changes in a shopping cart, the page has to be refreshed before data-badge update count! This is with .Net application!

[2015-09-08 22:46] surma commented on #1572
@skolade The content of the badge is set with CSS via `attr()`. There is no JavaScript involved so you must be doing something wrong on your side.

Here’s a quick demo: http://codepen.io/surma/pen/QjbVjr

However, please head over to StackOverflow for support and use the `material-design-lite` tag, as the GitHub issue tracker is for MDL bugs and feature requests only.

[2015-09-08 22:46] #1572 closed

[2015-09-09 01:13] AliMD opened #1573 "Website Access Denied"
Could you please open access to the getmdl.io website for iranian users.
[code]
By default google developer console websites are forbidden for iranian users.
Thank you.

[2015-09-09 01:14] AliMD commented on #1501
:+1:
Its will be perfect if all size (dimension/position) convert to em
Because we can change size of components by change font-size
Could you please accept pull request to change it in current version/milestone ?
You can create another branch for do it now with safety and merge it to master in the future.
Thank you in advance

[2015-09-09 05:43] hebbet commented on #1501
as that would be a breaking change, it is not possible to add rem in the 1.x version, so you have to wait for 2.0

[2015-09-09 06:24] AliMD commented on #783
I think this way is better #1518
We start to fix these problems [here](https://github.com/WebRTL/material-design-lite-rtl/issues)

[2015-09-09 06:26] AliMD commented on #783
I'm working on rtl layouts more than 10 years on many project
And we have many research about it
I don`t use css flipping anymore because
1. As a rtl native user We hate flip all layout for example in android or gmail or etc. we usually prefer to use english version because of that.
2. In many case we want combined layout in our website and we prefer to use `dir` attribute for exception layout in

[2015-09-09 09:01] jmtalarn opened #1574 "Drawer menu always opened in Android Stock Browser"
Hello.

I use a fixed header and the drawer menu is always open in the Android Stock browser I'm testing. I tried it with the installed Chrome version in the Android device and it works fine any other browser and device tested is also working fine.
This is the user agent of the browser in a LG G2 updated to Lollipop 5.0.2 "Mozilla/5.0 (Linux; Android 5.0.2; LG-D802 Build/LRX22G) AppleWebKit/537.36

[2015-09-09 10:41] jmtalarn commented on #1574
Ok. It was my fault.

I'm including material-design-lite.scss in my scss source and the resulting css is not including the WebKit prefix to make the css3 transforms work in the android stock browser.

[Answer:Does Android's Stock Browser support CSS3 transforms](http://stackoverflow.com/a/17709038?stw=2)

[2015-09-09 10:41] #1574 closed

[2015-09-09 12:29] gijskooij commented on #1566
Please see #1575 for a possible fix

[2015-09-09 12:54] gauntface opened #1577 "Small Issue at 1024px Width & Fixed Header"
The padding is reduced so the header title falls behind the menu button.

Just need to add 1px to the media query on line 259: https://github.com/google/material-design-lite/blob/master/src/layout/_layout.scss#L259

[2015-09-09 13:25] surma commented on #1573
@AliMD Thanks for the issue! We didn’t know we weren’t reachable in Iran. We’ll look into this.

[2015-09-09 13:29] surma commented on #783
Thanks for your input, @AliMD. As I said, we are still working on this and no final decisions have been made :)

[2015-09-09 13:31] surma commented on #1574
@jmtalarn Good to hear you worked it out. Yes, we are [running gulp-autoprefixer](https://github.com/google/material-design-lite/blob/364026628aaacd0fd6c84ced9e1a470560092862/gulpfile.js#L185) on the compiled CSS rather than the SASS.

[2015-09-09 14:41] peiche opened #1582 "Mega footer checkbox chevron visible"
There is a case where the chevron to indicate an expanded footer section is still visible on wide screen layout.

Steps to reproduce on a page with a mega footer:
1. Shrink the window size down so that the menu sections collapse.
2. Click a section title to expand that section.
3. Enlarge the window so that the menu sections are no longer collapsed.
4. See that the chevron ("^") is still visible.

[2015-09-09 14:53] surma commented on #1582
Good catch! Seems like a missing media query. Thanks for the report, @peiche!

[2015-09-09 14:56] sgomes commented on #239
#1581 closes the rest of this.

[2015-09-09 14:56] #239 closed

[2015-09-09 16:10] #1577 closed

[2015-09-09 16:51] AliMD commented on #783
Thank you, can I help you on it?

On Wed, Sep 9, 2015, 5:59 PM Surma <notifications@github.com> wrote:

[2015-09-09 16:51] AliMD commented on #1573
Thank you

On Wed, Sep 9, 2015, 5:55 PM Surma <notifications@github.com> wrote:

[2015-09-09 20:10] listedegarde opened #1583 "Bug - material-icons not showing on Blackberry 10"
The material-icons are not visible on BlackBerry 10.  Tested on Z10 using 10.3.1.  Here's a screenshot of the [Android demo](http://www.getmdl.io/templates/android-dot-com/index.html) page, with the invisible material-icon menu and material-icon search on the left and right, respectively.

I can click on the menu icon, and it the menu opens.

![Screenshot of bug](https://drive.google.com/uc?export

[2015-09-09 20:27] sevekim opened #1584 "MDL and Infinite Scroll"
Hi.

So, I am using infinite scroll (http://infiniteajaxscroll.com/docs/getting-started.html).

However when the main content is inside of "mdl-js-layout" the infinite scroll function does not work (shown below)

      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
	<header class="mdl-layout__header">
		Head
	</head>
	<main class="mdl-layout__content">
		<

[2015-09-09 20:37] felixvictor commented on #1574
@surma: Could you mention the required use of autoprefixer in the docs for people using the scss files? I spent some time finding the error in my html code until reading this post...

@jmtalarn: Thanks a heap.

[2015-09-09 22:14] surma commented on #1583
I’d guess that this is related to https://github.com/google/material-design-icons/issues/179

I don’t have any Blackberries to test nor I know much about their browser engine, so any help with this is greatly appreciated, @listedegarde :) Maybe you can test the workaround mentioned in the issue above.

[2015-09-09 22:16] surma commented on #1584
MDL is targeting static content for now, so use-cases with infinite scroll are not supported by us right now. However, there are people who have made MDL work with dynamic sites and you can probably get valuable help by heading over to StackOverflow and using the `material-design-lite` tag.

Closing this as this is not a bug with MDL.

[2015-09-09 22:16] #1584 closed

[2015-09-10 10:08] davidpelayo commented on #1110
Same happening to me:

MDL version: 1.0.4
Browser: Chrome
Browser version: 45.0.2454.85 (64-bit)
Operating system: Mac OS
Operating system version: 10.10.5 (14F27)

[2015-09-10 12:25] listedegarde commented on #1583
Thanks for that suggestion!  You saved me a lot of debugging time.  Indeed, the workaround from that post works.  `.material-icons {text-rendering: optimizeLegibility; }`

I'm not sure how you deal with issues, but I suppose this could be closed as a duplicated of issue 179.

[2015-09-10 12:33] surma commented on #1583
Yeah, we ran into the same issue wie Edge. Thanks for testing and letting us now :) I’m optimistic that this issue will be fixed upstream soon-ish.

[2015-09-10 12:33] #1583 closed

[2015-09-10 14:18] vasiliy-pdk commented on #1461
Same with Marionette.js

[2015-09-10 14:53] vasiliy-pdk commented on #1461
By the way. Why is the click event handler necessary for the tooltip? I had tried to remove click event handler and this resolved the problem. I did not saw any visible changes in the tooltips behavior.

[2015-09-10 15:08] Garbee commented on #1461
I don't know why the tooltip had this added in the first place. However, it has been there since launch therefore sites may be coded that depend upon it working as it does. Which is why it is a breaking change to fix in 1.x.

[2015-09-10 15:28] surma commented on #1461
For context: The click handler is necessary for mobile because there’s no such thing as hovering on mobile. Clicking on the target element shows the tooltip, clicking outside hides it again.

[2015-09-10 19:05] Garbee commented on #1461
So sounds like there is nothing for us to fix here. App developers need to handle this case by applying event listeners more directly and not using delegated listening.

Unless someone has an alternative method for touch support, closing this out given the context.

[2015-09-10 19:05] #1461 closed

[2015-09-10 20:49] shranet opened #1587 "Bug, when using text field with floating label with jQuery DatePicker."
Hi. Sorry, my english bad.
If you change value of field with datepicker, label of field doesn't change style and the label stays on same position.

I tested on Safari 8.0.8 (Mac OS 10.10.5).

<img width=“414" alt="bug-mdl" src="https://cloud.githubusercontent.com/assets/1712200/9800603/4cb6f924-5827-11e5-9eca-4964b7853346.png">

**UPDATE:**
I solved the problem this way:

[code]

[2015-09-10 21:51] Garbee commented on #1587
Calling `updateClasses` on the widget after modifying the value is what should be done.

Nothing for us to do internally, it is out of scope of what is provided. For support in the future, please use StackOverflow and apply the `material-design-lite` tag along with any other applicable tags.

[2015-09-10 21:51] #1587 closed

[2015-09-11 09:32] VamosErik88 commented on #874
Any update on the state of the art on this components? Really need it....

[2015-09-11 12:16] surma commented on #874
@VamosErik88 We haven’t started any development. There was higher demand on snackbars and dialogs, so those got the higher priority for now.

[2015-09-11 12:29] ArthurStapassoli1987 commented on #854
@etcpe9 very good man!!!

Thanks!!

[2015-09-11 13:56] vdclouis commented on #857
+1
we could easily port this from https://material.angularjs.org/latest/#/demo/material.components.chips no?

[2015-09-11 14:12] VamosErik88 commented on #874
Thanks for the answer man!
In the mean time I found this workaround created by someone that is working pretty good in what I need.

http://jsbin.com/seyukazowu/edit?html,css,js,output

Hope it's useful for others too ;)

[2015-09-11 14:14] surma commented on #874
That’s actually pretty damn good visually. Thanks for sharing :)

[2015-09-11 14:20] VamosErik88 commented on #874
You're welcome :)

[2015-09-11 14:30] Garbee commented on #857
We are not interested in "easy ports" or ports of any kind from other implementations. They may not adhere to the spec fully.

The project is open to PRs if someone wants to try and take this on outside of the core team. Otherwise, it will be gotten to as someone has time and wants to take it on.

[2015-09-11 15:04] jh3y commented on #874
Haha you're welcome, that's my creation :smile: I wrote a post on it but didn't want to put a blog post in the issue thread.

[2015-09-11 15:35] VamosErik88 commented on #874
You're great jh3y!!! Your work saved my day :100: ;)

[2015-09-11 17:12] ovaskevich commented on #853
As a workaround, you can hide the placeholder text when the date field is empty. This still forces you to use the browser's date picker, but at least you don't get the placeholder overlapping with the label:

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]),
:invalid::-webkit-da

[2015-09-11 19:47] acrogenesis commented on #1002
+1 for this google's spec does show the subtitle below the title. https://www.google.com/design/spec/components/cards.html#cards-actions

[2015-09-11 22:40] jjalonso commented on #1448
+1

[2015-09-11 22:46] rpominov commented on #1448
I wonder, why not simply publish `1.0.5` with same content as `1.0.4` but with build fixed? Or maybe there is a way to make `npm install material-design-lite` install `1.0.4-2` (currently it still installs `1.0.4` which is broken).

[2015-09-11 23:20] jjalonso commented on #1448
To be honest. Each day through more people is having errors. Is better
release it as stable quickly.
On 11 Sep 2015 11:47 pm, "Roman Pominov" <notifications@github.com> wrote:

[2015-09-12 02:02] kengruven commented on #1070
They show examples of emitting control being lots of types of things, from nothing at all (e.g., when right-clicking on some text), to this kind of button (the 3 dots), to a row of words (a menu bar).

Clearly in some cases the emitting control will always be visible (menu bar), and in some cases it will never be (right-clicking on some text).  I assume that's what they mean by "Dismiss a menu by

[2015-09-12 08:32] AKSHAYPATEL147852369 opened #1590 "When Google Chrome available For Windows Phone 8, 8.1 and Windows 10 Mobile?"
When Google Chrome available For Windows Phone 8, 8.1 and Windows 10 Mobile. Please we request make it available for Windows Phone all versions. We need all Google apps can run on Windows Phone 8, Windows Phone 8.1 and Windows 10 Mobile.

[2015-09-12 09:26] addyosmani commented on #1448
1.0.5 is an in-progress version. If we bumped the npm package prematurely to releasing it, we would then have the chicken and egg problem of managing two different release versions (git vs. npm). I completely agree it sucks having to opt in to `1.0.4-2` atm, but npm doesn't offer a way to overwrite the busted 1.0.4 package. We'll hopefully aim to get out 1.0.5 soon (cc @sgomes)

[2015-09-12 11:07] hebbet commented on #1590
@AKSHAYPATEL147852369 that is an issue tracker about a framework for web development and not for Chrome.

For your problem/suggestion see [Chromium Bugtracker](https://code.google.com/p/chromium/issues/detail?id=489037)

[2015-09-12 11:11] #1590 closed

[2015-09-12 17:03] narendrashetty commented on #1582
@surma Is this bug fixed? or can i send a PR for the issue?

[2015-09-12 17:04] surma commented on #1582
@narendrashetty No, hasn’t been addressed yet. If you have a PR that would be greatly appreciated :)

[2015-09-12 17:36] narendrashetty commented on #1582
@surma here is the PR (https://github.com/google/material-design-lite/pull/1591) have a look. Thanks :)

[2015-09-12 18:05] narendrashetty commented on #1530
@surma Please review the PR for the issue. Thanks :)

[2015-09-13 08:52] ahmadawais opened #1593 "SVGs are 404 not found"
I downloaded the GMDLite and found out that svgs are no where to be found, whereas there are links in CSS to several SVGs. Which leads to such errors http://prntscr.com/8frw4a

[2015-09-13 09:07] surma commented on #1593
@ahmadawais Just to make sure: What is GMDLite? Is

Our SVGs are inlined in the building process, so there is no dependency in the final CSS. How are you pulling in MDL?

[2015-09-13 10:49] ahmadawais commented on #1593
@surma  Google Material Design Lite.

I downloaded GMDL from https://storage.googleapis.com/code.getmdl.io/1.0.4/mdl.zip

Why would it give me the error, one in the screenshot above? Looking forward

[2015-09-13 12:50] Garbee commented on #1593
Looks like we need a reproducable sample case. Searching the zip file linked to, there are no calls directly to SVG files. They are all inlined as they should be.

[2015-09-13 14:08] ivanceras opened #1594 "Is there a way to have an option to have always visible last header-row in waterfall layout tab?"
[code]
Usecase is a multi-page tab, where in when the user scroll the title of the page doesn't matter anymore. The user needs to always see menu icons that is applicable to the current page.

[2015-09-13 15:35] pmallek opened #1595 "Issues with flowplayer"
Hello, i have two issues while working with mdl + flowplayer (quiet popular video player: http://flowplayer.org). First i asked about that on flowplayer forum but devs said that problem is related to "my own css" = mdl css. Here i made two sample pages to not make things too complicated.

Sample 1: http://flowplayer.zobaczzwiastun.pl/sampleMdl.php
Sample 2: http://flowplayer.zobaczzwiastun.pl/samp

[2015-09-14 08:09] surma commented on #1593
@ahmadawais Which CSS file are you including in your site?

[2015-09-14 08:16] surma commented on #1595
Hey @pmallek. I am not familiar with FlowPlayer but this is definitely something you should take to StackOverflow using the `material-design-lite` tag. This falls under support and is not a bug with MDL at its core.

My guess would be that the `z-index` that we set in MDL are somehow incompatible with iOS fullscreen and AdSense, but I am not sure (don’t have an iOS device at hand right now).

[2015-09-14 08:16] #1595 closed

[2015-09-14 08:36] ahmadawais commented on #1593
I see they are inline. Looking into the error to find out what is causing it. #strange

[2015-09-14 10:06] axxg opened #1596 "Firefox Text-Field-Bug:-("
Hello everybody,
I use the FF Version 40.0.3 and have the following problem: the input fields are over the font.

i use MDL 1.0.4

![p1](https://cloud.githubusercontent.com/assets/2951327/9847409/f4132270-5ad8-11e5-9471-fe8c5c82edc5.png)
![p2](https://cloud.githubusercontent.com/assets/2951327/9847410/f41edab6-5ad8-11e5-809e-082c9b6326af.png)

Code Example:

CSS:
.labelS {
	color: rgba(0, 0, 0, .2

[2015-09-14 10:10] sgomes commented on #1448
+1 to what @addyosmani said. I'm hoping we can release 1.0.5 either this week or the next.

[2015-09-14 10:24] VamosErik88 opened #1597 "MDL Two Drawers (Left & Right) Layout"
I'm working on a project and really needed a layout with two drawers (left as usual for Menu; right for showing Notifications).
Since this option was not available with the default MDL Layouts components I decided to create one by my self.

Here is the result on jsFiddle: https://jsfiddle.net/VamosErik88/HTHnW/651/

Looking for you thoughts and your advice for further improvement.

[2015-09-14 10:27] hebbet commented on #1596
can you provide a jsfiddle or codepen of that problem?

[2015-09-14 11:22] axxg commented on #1596
https://jsfiddle.net/nsm7ugL7/

![p2](https://cloud.githubusercontent.com/assets/2951327/9848681/9f773f70-5ae3-11e5-92e4-6be17543c71e.png)

[2015-09-14 11:25] Garbee commented on #1597
This is against the Material Design spec which is why it won't be included in core.

[2015-09-14 11:29] Garbee commented on #1596
This falls under support more than a core problem. The components work as provided across browsers. For help with integrating MDL into your site please use StackOverflow with the `material-design-lite` and all other applicable tags.

[2015-09-14 17:44] sonwh98 opened #1598 "any plans to add a calendar component?"

[2015-09-14 17:48] Garbee commented on #1598
Duplicate of #782

[2015-09-14 17:48] #1598 closed

[2015-09-14 19:03] kengruven opened #1599 "Menu positioning (and transform/translate)"
(I don't know if this is technically a bug or not, but it was certainly unexpected behavior that I had to investigate and work around.  I'm sure you all can tell me if my expectations were wrong or not.  Let's call it a "documentation request", for now!)

Component (if any): mdl-menu

What are you trying to do or find out more about?  Positioning (see below)

Where have you looked?  http://www.get

[2015-09-14 20:09] sonwh98 commented on #1598
#782 is for a date picker. I was thinking more along the lines of google calendar

[2015-09-14 20:41] Garbee commented on #1598
Is there a component specified for calendars in material design? To my
knowledge there isn't.
On Sep 14, 2015 4:10 PM, "Sonny To" <notifications@github.com> wrote:

[2015-09-15 02:26] cliffordp opened #1600 "Site Showcase Request - MDL Shortcodes plugin for WordPress"
Please include:
* Description: Making it easy to use MDL components in WordPress via shortcodes
* Primary Link: https://wordpress.org/plugins/mdl-shortcodes/
* Screenshot: https://plugins.trac.wordpress.org/browser/mdl-shortcodes/assets/banner-1544x500.png and/or https://wordpress.org/plugins/mdl-shortcodes/screenshots/

[2015-09-15 06:56] axxg commented on #1596
it is a bug, because it wasn't in 1.0.1 and 1.0.2 and 1.0.3!

[2015-09-15 07:29] axxg commented on #1596
@Garbee
....and no cool answer in StackOverflow:-/
http://stackoverflow.com/questions/32565160/mdl-firefox-input-fields-are-over-the-font

[2015-09-15 08:50] mebibou opened #1601 "Vertical Tabs"
Component name: `Tabs`
New feature: add a class to display the tabs vertically instead of horizontally. The Tabs could then go on the left and the content on the right side.

[2015-09-15 13:12] pmallek commented on #1595
@surma we dont have to talk about fullscreen problem on iOS, i have some solution for this issue. However adsense plugin is pretty big problem and i cant solve it. Believe me if it would be z-index or any other simple css thing i would never post it in any public place:) I did some more research, if i dont import mdl css file, problem still exists. I also commented every component register in mate

[2015-09-15 13:38] fatihkahveci opened #1602 "Site Showcase Request"
Description : Mobile Applications and Games review site.
Primary Link : http://tr.fobito.com/android
Screenshot :
![Image of Fobito.com](http://i.imgur.com/0bfKfnA.png)

[2015-09-15 15:24] mustafa-x opened #1603 "Markdown syntax (##) appearing in the microsite"
Hey guys

I've noticed on the microsite for Material Design that the headings which have been written in markdown are not appearing correctly so instead of a header being styled as one you get the ## before a header.

Example: http://www.getmdl.io/components/index.html#layout-section
![markdown-text-appearing-on-microsite](https://cloud.githubusercontent.com/assets/1212513/9881027/1e7d704a-5bc6-11

[2015-09-15 15:34] Garbee commented on #1603
Fixed in commit a64e9b6809f6da7d43a46234af433e49c1d33e3a#diff-19aece333bacc9e2d1b4ce0e266c643c . Waiting on new deployment.

[2015-09-15 15:34] #1603 closed

[2015-09-15 17:06] nikhilsingh12 commented on #1602
Well
You should check this out  - http://sh.st/v2tCH
It is also nice isn't it?

[2015-09-15 17:08] nikhilsingh12 commented on #1601
Well
Check this - http://sh.st/v2tCH. Feature is available in this.

[2015-09-15 18:23] henriquecf commented on #1324
Not sure if this is related but I think so. The android logo is not appearing in the android site template (http://www.getmdl.io/templates/android-dot-com/index.html).

[2015-09-15 19:49] smcardle opened #1604 "Add Alert Dialogs"
Part of the Dialogs spec for material design outlines their use for alerts
https://www.google.com/design/spec/components/dialogs.html#dialogs-behavior

These are simple dialogs that contain a small amount of text and actions such as "OK" & "Cancel"

The default browser alert does not look like a material design component and supporting process flow with it is difficult at best.

The type of use ca

[2015-09-15 19:52] Garbee commented on #1604
Duplicate of #781

[2015-09-15 19:52] #1604 closed

[2015-09-15 20:15] smcardle commented on #1604
opps...

Missed that one :)

[2015-09-15 20:21] rhroyston opened #1605 "Templates, ANDROID.COM MDL SKIN Index.html file"
`<script src="../../material.min.js"></script>` could be removed from line 327 and `<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>` placed in the `<head>`.

Also, line 30 `<link rel="stylesheet" href="$$hosted_libs_prefix$$/$$version$$/material.min.css">` replaced with `<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/mat

[2015-09-16 01:27] kengruven opened #1606 "Feature request: styles for deeper shadows"
Is this a new component, or a missing feature in an existing one?
A missing feature.

Component name:
Card (sort of -- shadows aren't a "component" but the MDL shadow styles are documented on the MDL Card documentation page).

Material Design spec URL for the component (if any):
https://www.google.com/design/spec/what-is-material/elevation-shadows.html

What does this component or feature allow yo

[2015-09-16 05:20] DsXack commented on #376
This issue is not fixed – when I "tap" on my MacBook Air touchpad I have not ripple effect

[2015-09-16 06:28] lascarayf commented on #1594
+1 I have the same problem. If you see the "Google Play App" this is the behavior (hide the first line)

[2015-09-16 06:31] axxg opened #1607 "jQuery: Label overlaps the content"
Hello,
I use FF Version 40.0.3/Chrome 45.0.2454.85 and i have the following problem: the placeholder/label overlaps the content, if i use jQuery.
I have also aked at stackoverflow: http://stackoverflow.com/questions/32579980/mdl-jquery-label-overlaps-the-content-into-a-input-field

**JS:**

    $("#eventAddKurzLB").val("test");

**HTML:**

    <div class="mdl-textfield mdl-js-textfield mdl-textfie

[2015-09-16 06:58] lascarayf commented on #1594
.mdl-layout__header--waterfall{
    flex-direction: column-reverse;
}

add style="order: 1;" to first line div.

[2015-09-16 07:15] ivanceras commented on #1594
The search and title disappears, but then it should be located initially at the top, then disappear when scrolled while the links are supposed to stay.

http://codepen.io/anon/pen/QjyPyg

[2015-09-16 10:37] sgomes commented on #1594
I'd go with a simpler approach:

[code]

See http://codepen.io/anon/pen/KdVjpp

That should make the bottom row stay in place while the top slides out of view. The menu button stays in place, since it's positioned absolutely.

If you want to add or remove elements which are only visible when the header is contracted, you can use the `.is-compact` class (which gets added automatically to the header

[2015-09-16 11:05] sgomes commented on #1607
The problem isn't jQuery, but rather the fact that the component is unaware of the changes you're making (programmatic changes to an HTML element don't trigger events). You can test this by manually typing into the box; that should work correctly, even if jQuery is loaded.

You can use the element's API for changing the text instead, by doing:

[code]

(where `my-textfield` is the outer `label` el

[2015-09-16 11:05] #1607 closed

[2015-09-16 11:17] axxg commented on #1607
where can I get the element API?
currently it does not work :-(

https://jsfiddle.net/vutLb9ut/4/

[2015-09-16 11:17] sgomes commented on #1601
Thanks for the issue, @mebibou! Unfortunately, we don't have a spec at the moment for vertical tabs, and we as engineers are unlikely to come up with something good (see http://dilbert.com/strip/2002-09-23).

I'm closing this issue for now, but happy to reopen it if we ever get vertical tabs in the Material Design spec!

[2015-09-16 11:17] #1601 closed

[2015-09-16 11:18] sgomes commented on #1607
That's likely because the calls are happening before the element is upgraded, since you're doing them `onLoad`. Try doing them `onDomready` instead and it should work!

[2015-09-16 11:26] axxg commented on #1607
I think I'm too stupid:-(

https://jsfiddle.net/vutLb9ut/7/

[2015-09-16 12:15] Garbee commented on #1594
Modifier sgtm for 1.1.

[2015-09-16 12:19] Garbee commented on #1606
I think a mixin to generate any arbitrary DP of shadow may be a bit complicated to pull off. Probably best we focus on adding the 24dp shadow directly since it seems to be the major missing one from the spec.

[2015-09-16 13:09] sgomes commented on #1607
You need to get the base element before calling a method on it, otherwise you're working on a jQuery object that doesn't have the `MaterialTextfield` property. Also, you need to get the element around the textfield, as that's the component element.

[code]

Here's a fiddle: https://jsfiddle.net/Lzdez4s2/1/

[2015-09-16 13:17] sgomes commented on #1606
+1 to @Garbee's suggestion.

[2015-09-16 13:22] #1530 closed

[2015-09-16 13:23] DennisSnijder opened #1608 "Redraw range line on value change"
when i try to set a range value with jQuery the line in the range slider doesnt redraw.

[2015-09-16 13:25] #1582 closed

[2015-09-16 13:25] Garbee commented on #1608
You need to call `MaterialSlider.change(value)` against the slider node instead of changing the input value directly.

[2015-09-16 13:25] #1608 closed

[2015-09-16 13:26] Garbee commented on #1608
Also for future reference, please use StackOverflow for support. Using the `material-design-lite` and any other applicable tags to get the best support in implementing MDL in projects.

[2015-09-16 13:28] sgomes commented on #1608
For a little extra clarification, this happens because programmatic changes to HTML elements don't trigger events, and therefore the component is unaware that its value changed.

Because of this, we provide an API for elements, which is accessed the way @Garbee described. See https://jsfiddle.net/Lzdez4s2/1/ for a similar situation.

[2015-09-16 13:29] axxg commented on #1607
you are the best! Thanks a lot:)

[2015-09-16 13:33] DennisSnijder commented on #1608
wow thanks for the great and quick response!

[2015-09-16 18:03] rhroyston opened #1609 "Navigation layouts, Menu Icon"
Why is the material design menu icon not visible / editable in the HTML, [here](http://www.getmdl.io/components/index.html#layout-section).  The issue is that when css is applied to vertical align the material design icons, the menu icon is also affected and thrown off of alignment.

![asdf](https://cloud.githubusercontent.com/assets/12751611/9913589/3e0fc59a-5c73-11e5-9a0e-79d7597ba25d.JPG)

[2015-09-16 18:20] hebbet commented on #1609
for support question use StackOverflow. Using the `material-design-lite` and any other applicable tags to get the best support in implementing MDL in projects.

[2015-09-16 19:00] azumbrunnen opened #1610 "Add documentation for using querySelector / $ after initialization"
Let's say you use the data component. Since mdl.js will add dynamic components on the go, you can't register and event handlers to a checkbox of a data tables without a delay.$

What's the right way of doing this?

[2015-09-16 19:25] rhroyston opened #1611 "Chrome Bug - label text shows on auto-completed text field"
![fdas](https://cloud.githubusercontent.com/assets/12751611/9915809/ae85c38c-5c7e-11e5-9cb5-edc7aaedd9ae.JPG)

[2015-09-16 20:05] laicosly opened #1612 "Component styling?"
How does one go about styling textfield components (and others), such as adjusting the padding w/out breaking label positioning, and other styles?

Is it recommended to drop down to overriding .scss vars, or is there some other intended consistent approach to adjusting padding/spacing.

![Example](http://i.imgur.com/8RvWa8s.gif)

[2015-09-16 20:37] laicosly commented on #1612
In _variables.scss why don't the textfield vars use !default?

[code]

To successfully override the mdl vertical-spacing, should this be:
[code]

[2015-09-16 23:43] Garbee commented on #1611
This is a limitation on auto fill not triggering a change or input event. Nothing we can do about it with our current browser support since it requires observers to fix.

[2015-09-16 23:43] #1611 closed

[2015-09-17 03:24] Garbee commented on #1612
Modifying styling is up to you to figure out. We provide Material Design aligned styling. If you need something else, it is on you. You can use StackOverflow for support questions like this.

[2015-09-17 03:24] #1612 closed

[2015-09-17 10:34] jason-c-schmidt opened #1613 "[Component Request] {Calendar}"
* Description: A Calendar component, as simple as it is.
* Material Design Spec link example: https://dribbble.com/shots/2193237-Full-Calendar-Events
* Use Case(s): A Calendar Component called by the name calendar that allows the user to see dates back and forth, click on a day as a link to show appointments and schedule.

Thanks.

[2015-09-17 11:09] laicosly commented on #1612
Fair enough, I'd suggest that the css could've been better, relying less on scss var based calculations.

[2015-09-17 12:10] Garbee commented on #1613
Duplicate of #782

[2015-09-17 12:10] #1613 closed

[2015-09-17 12:11] Garbee commented on #1613
Oh wait, checking the dribble this isn't a duplicate since it isn't for the input type=date type thing. However, until we have a Material Design spec for calendar one won't be included here.

[2015-09-17 13:24] laicosly commented on #854
Excuses like "we have no guidance on how selects should look" falls short of the getmdl.io statement "Material Design Lite lets you add a Material Design look and feel to your websites.".

Polymer and other web-based material design libraries are pushing ahead.

https://elements.polymer-project.org/elements/paper-dropdown-menu?active=paper-dropdown-menu&view=demo:demo/index.html

[2015-09-17 13:48] jason-c-schmidt commented on #1613
Ok. If you need any help, I can contribute, I'm a java programmer.

[2015-09-17 15:16] jig9 commented on #1517
Oh i went back to Windows 8.1

[2015-09-17 15:16] #1517 closed

[2015-09-17 15:30] Dindaleon opened #1614 "PLEASE REMOVE!"
PLEASE REMOVE!

[2015-09-17 15:32] #1614 closed

[2015-09-17 18:47] babakness opened #1615 ""Android" themed demo website side menu doesn't scroll on Chrome 45 OS-X Yosemite"
The "Android" themed demo website's side menu will not scroll using the scroll-wheel / two-finger-slide-gesture on Chrome 45.0.2454.93 on Yosemite, OS-X 10.10.2

When emulating a phone such as the iPhone using Chrome's built-in tool (inspector) however it does work (it scrolls in emulation mode where the click is the same as a "touch" event).

[2015-09-17 18:55] babakness opened #1616 "Mac touchpad tap instead of click does not trigger animation on buttons"
On a Mac, Yosemite 10.10.2, using the touchpad, if one taps the pad instead of a full click, the button animation is not trigger. On a full click, pressing down on the pad and getting "click" it does work.

This is inconsistent with Polymer's implementation of button, ie paper-button, where a tap on the touchpad trigger animation at the place of the pointer.

[2015-09-18 09:05] tschiela commented on #1110
+1 same here on Chrome 45 @ Ubuntu

In my opinion, the layout should never be calculated by JS. Why is this done so? I dont get the reason.

[2015-09-18 13:49] apple314159 opened #1617 "menu on body changes header background on chrome"
The following shows the header background changes on menu selection on chrome 44 but not on firefox 40:

[code]

[2015-09-18 15:01] brunoksato commented on #854
+1

[2015-09-18 16:49] mebibou commented on #854
For those who are interested, I developed a plugin and added it to bower:

[mdl-selectfield](https://github.com/mebibou/mdl-selectfield)

[2015-09-18 17:13] jhr007 opened #1618 "Add Offsets to Documentation"
Merge #1460 adds offsets, but doesn't update docs.

[2015-09-19 07:32] caliven opened #1620 "window scroll js Conflict"
Custom
window.onscroll = function(){
    //...
}
When you scroll is invalid over，I think this is a conflict and material.js

[2015-09-19 09:56] zuhairnaqvi commented on #913
Any progress on pushing the footer down when content is longer than the fold?

[2015-09-19 14:43] Garbee commented on #1620
Can you provide a codepen that reproduces the issue for us? What has been provided so far doesn't make much sense as to what the problem is.

[2015-09-19 19:16] urbanvikingr commented on #913
This works for me: http://ryanfait.com/sticky-footer/

[2015-09-19 22:32] Jviejo opened #1621 "Site Showcase Request"
Please include:
* Description
* Primary Link
* Screenshot

[2015-09-20 00:00] surma commented on #1599
Hey @kengruven, you found something, that we are aware of and that also affects tooltips. The problem is that both tooltips and the menu use `absolute` or `fixed` positioning. The problem is, that both behave weird when transforms are used and we are still trying to figure out how to work around that for v1.2 or even v2.

I’ll close this issue as it is somewhat working as intended. As I said, we a

[2015-09-20 00:00] #1599 closed

[2015-09-20 00:03] surma commented on #1324
@sgomes It’s gonna be at least another week before I can take look at this. Feel free to snatch this if you feel like it and have the time to spare.

[2015-09-20 00:06] surma commented on #1605
Hey @rhroyston.

Both of the things you are mentioning are intentional:

* Having the `<script>` tag at the end of the `<body>` is to not block the parser (because it would stop until the JS has been executed) and also to ensure that the entire DOM has been parsed so that the upgrade routine works.
* All the templates use `$$hosted_libs_prefix$$/$$version$$` so you can automatically inject your lo

[2015-09-20 00:06] #1605 closed

[2015-09-20 00:07] surma commented on #376
Sadly, I can confirm :(

[2015-09-20 00:08] surma commented on #1594
Yeah, SGTM :)

[2015-09-20 00:11] #1609 closed

[2015-09-20 00:12] surma commented on #1609
I have to agree with @hebbet. This is obviously support as it is working on the demo. The guys over at StackOverflow are really helpful, though. Give them a try :)

[2015-09-20 00:15] surma commented on #1610
MDL emits a `mdl-componentupgraded` event on the DOM element that has been upgraded. You can add a listener and wait for that :)

[2015-09-20 00:15] #1610 closed

[2015-09-20 00:16] surma commented on #1611
For completeness sake: Also a duplicate of #1253

[2015-09-20 00:18] surma commented on #1615
This is most likely a duplicate of #1110. Closing this in favor of said issue.

[2015-09-20 00:18] #1615 closed

[2015-09-20 00:19] surma commented on #1616
One of our oldest bug that just won’t go away :( Duplicate of #376.

[2015-09-20 00:19] #1616 closed

[2015-09-20 00:23] surma commented on #1617
Oh, it’s *that* bug again. IIRC, @paullewis and @sgomes tracked this down to be a Chrome bug. I think we even habe in issue. I’ll link it once I find it, but there’s nothing we can do on MDL’s side. Sorry :confused:

[2015-09-20 00:23] #1617 closed

[2015-09-20 00:27] surma commented on #1618
Docs for grid offsets were added in 1cb75896ef1d6431f879bb9d2e15b7f3cf83a583

[2015-09-20 00:27] #1618 closed

[2015-09-20 00:29] surma commented on #1620
If you use the layout component, this might not be working as expected as it is not `window` that is scrolling but the content div. Does this help?

[2015-09-20 01:05] zuhairnaqvi commented on #913
Seems to be messing up the layout of mega-footer.. I just need it to not behave as position:fixed, it's practically useless as it's overlapping the content in main when the content is longer than the viewport :(

[2015-09-20 06:57] sevekim commented on #1584
Hi. So i am getting no results from Stackoverflow for over 1 week and I have no idea to to make this work.

Is there a support that I can get with this ?

Thanks!

[2015-09-20 15:34] Garbee commented on #1584
We do not provide support  in this issue tracker. For numerous reasons it simply isn't the right place for it. If StackOverflow isn't working out then you need to find somewhere else online that has a good support  community or a place that offers paid help for programming.

We can try to help if there is a clear and direct problem with MDL. Your question here involves 2 or 3 things other than MDL

[2015-09-20 16:14] jakobrosenberg commented on #1451
I'm having the same issue, using v1.0.4

[2015-09-20 17:13] Garbee commented on #1451
The patch wasn't merged into the 4th patch. 5 should have it.
On Sep 20, 2015 12:14 PM, "jakobrosenberg" <notifications@github.com> wrote:

[2015-09-20 17:49] addyosmani commented on #1621
Do you forget to include the details in your showcase request?

[2015-09-20 18:36] #1440 closed

[2015-09-20 18:36] #1476 closed

[2015-09-21 02:45] liuzhihuil commented on #1620
@Garbee I joined the blog template "index.html" page code
"window.onscroll = function () {
         console.log (1);
 } "  Is invalid, when I remove the "material.min.js", code ok.

![scroll](https://cloud.githubusercontent.com/assets/1018916/9984618/ceccd554-604d-11e5-8db4-90355947b406.png)

[2015-09-21 08:11] samdeesh opened #1623 "Getting multiple scrollbars"
I am getting 2 scroll bars using mdl by google. I have added my html below. How can I fix this?

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-desktop mdl-cell--12-col-tablet  mdl-cell--12-col-phone">
        <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col"></div>
        <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col

[2015-09-21 09:36] surma commented on #1620
@liuzhihuil Sadly, you removed a crucial part from your snippet: Are you using the MDL layout component? If so, window is not scrolling, but the `.mdl-layout--content` is.

[2015-09-22 00:40] dgaisan commented on #798
Does anybody have an example of how to create icon toggle dynamically?
Thank you

[2015-09-22 09:36] sgomes commented on #1324
@surma I'll see if I can get my hands on a device to test this with.

[2015-09-22 09:52] addyosmani commented on #1324
We have one or two Windows phones in the device lab. They'll need charging up but feel free to grab if you need it.

[2015-09-22 10:29] sgomes commented on #1110
I'm now having trouble reproducing this, sadly, although I don't doubt the problem is still present. @surma @addyosmani Could you see if you have more luck in reproducing the issue? I'm hoping we can add a JS check or two to make sure things get triggered at the right time.

[2015-09-22 10:58] paran0a opened #1624 "Hamburger icon disappears when viewing page in device emulator ( Chrome )"
Hi , when I use device emulator in chrome on this page.

http://www.getmdl.io/components/index.html#layout-section/layout

The hamburger icon is gone. You can still activate navigation but the icon is invisible.

[2015-09-22 11:08] surma commented on #1624
Works for me
<img width="439" alt="screenshot 2015-09-22 13 07 48" src="https://cloud.githubusercontent.com/assets/234957/10016948/f2b3922c-612a-11e5-811b-44af2d34fdca.png">

Do you have any error messages in the console?

[2015-09-22 11:15] paran0a commented on #1624
http://i.imgur.com/VGZ4ta5.png

Hm  , could it be that since I'm connected through Kerio client that it blocks font face?

[2015-09-22 11:24] surma commented on #1624
That’s exactly what I did, @paran0a. Maybe @sgomes can give this a try, but I’m afraid this is a problem on your end :confused:

[2015-09-22 11:32] sgomes commented on #1624
@paran0a Are you talking about the hamburger icon on the layout demo? If so, it's right there on your screenshot, only hard to see because it's overlaid on top of the building in the image.

[2015-09-22 11:33] sgomes commented on #1624
@paran0a @surma Just tried this and it shows up for me as well :-/

[2015-09-22 11:38] sgomes commented on #1623
You seem to be using multiple layouts nested inside each other, which is likely what's causing the problem. I suggest starting from scratch using one of our templates, and adjusting it until it fits your needs.

In the future, it may be easier to get questions answered [on StackOverflow](http://stackoverflow.com/questions/tagged/material-design-lite), as we tend to mostly use the issue list for pr

[2015-09-22 11:38] #1623 closed

[2015-09-22 12:48] addyosmani commented on #1110
I think I was able to reproduce a few different stages of this by opting for the GPRS option in DevTools network throttling. As far as I can tell the cause is that (as suspected) we use JS for introducing the rest of the skeleton needed for layout. The odd thing is that I'm unable to repro the issues here if I simply disable all JS for the page. I would check how we're applying the updates to layo

[2015-09-22 13:05] ookami-kb commented on #1110
I suspect it has something to do with scrolling to top after the layout is upgraded.

Maybe it's some kind of bug in Chrome? I see that in latest version of Chrome the situation is slightly better: white background still appears, but is going normal on scrolling up/down with mouse.

One more thing: I've disabled smooth scrolling in chrome://flags and now it scrolls on layout upgrade without animat

[2015-09-22 13:22] paran0a commented on #1624
I tried this at home and it works. It must be something with my network on work I guess.

Thank you for the help and tests!

[2015-09-22 13:22] #1624 closed

[2015-09-22 16:35] kengruven commented on #1599
It's a combination of:
 - This is a 'legacy' app that's being converted to MDL from various other layout/styling frameworks
 - Only very recently have we decided to drop IE9 support
 - There's a finite number of hours in the day, and updating working CSS is not a priority right now

[2015-09-22 18:11] sathomas opened #1625 "Slider Thumb not showing in Microsoft Edge on Windows 10"
Screen shot taken from [modern.ie VM](https://az792536.vo.msecnd.net/vms/VMBuild_20150801/Parallels/MSEdge/Mac/Microsoft%20Edge.Win10.For.Mac.Parallels.zip) Build number:20150801 running on Parallels Desktop 11.0.1

![screen shot 2015-09-22 at 2 05 50 pm](https://cloud.githubusercontent.com/assets/1731910/10027091/22163abc-6133-11e5-8164-bc0f1a608a74.png)

[2015-09-22 20:24] rhroyston opened #1626 "Feature Request: "mdl-cell--0-col-phone" Hides/DisplayNone Inner HTML"
For example, you want typography hidden completely on phone screens, it would be nice to have mdl-cell--0-col-phone markup simply hide the desktop-only content.

[2015-09-22 20:31] surma commented on #1626
We do have `mdl-cell--hide-desktop`, `mdl-cell--hide-tablet` and `mdl-cell--hide-phone` in our [grid](http://www.getmdl.io/components/index.html#layout-section/grid) already. Does this solve your problem?

[2015-09-22 20:34] rhroyston commented on #1626
Yes.  Ooops, forgive me.  Thanks Surma.

From: Surma [mailto:notifications@github.com]
Sent: Tuesday, September 22, 2015 3:32 PM
To: google/material-design-lite
Cc: Ron Royston
Subject: Re: [material-design-lite] Feature Request: "mdl-cell--0-col-phone" Hides/DisplayNone Inner HTML (#1626)

We do have mdl-cell--hide-desktop, mdl-cell--hide-tablet and mdl-cell--hide-phone in our grid <http://www.ge

[2015-09-22 20:34] #1626 closed

[2015-09-22 20:37] rhroyston commented on #1626
Maybe have mdl-cell--0-col-phone alias mdl-cell--hide-phone?

From: Surma [mailto:notifications@github.com]
Sent: Tuesday, September 22, 2015 3:32 PM
To: google/material-design-lite
Cc: Ron Royston
Subject: Re: [material-design-lite] Feature Request: "mdl-cell--0-col-phone" Hides/DisplayNone Inner HTML (#1626)

We do have mdl-cell--hide-desktop, mdl-cell--hide-tablet and mdl-cell--hide-phone in ou

[2015-09-22 20:45] Garbee commented on #1626
No reason for aliases. They add extra bloat for no real purpose. The only aliases that currently exist (in footer component) are due to naming  issues in the initial release that we can't remove until 2.x.

[2015-09-22 20:58] rhroyston commented on #1626
mdl-cell--0-col-phone is inline with existing nomenclature mdl-cell—N-col-SCREENTYPE.

To remove bloat get rid of

mdl-cell--hide-desktop

Hides the cell when in desktop mode

Optional on "inner" div elements

mdl-cell--hide-tablet

Hides the cell when in tablet mode

Optional on "inner" div elements

mdl-cell--hide-phone

Hides the cell when in phone mode

Optional on "inner" div elements

From:

[2015-09-22 21:12] surma commented on #1626
Although I actually kinda agree that it would be more inline with the rest of the naming, I feel like it is not good on a semantic level. People could get confused about what `0-col` actually means.

In any case, we can’t remove anything anymore before v2 and I think the gain is very minimal.

[2015-09-22 21:30] sompylasar commented on #376
I can confirm regardless of the "Tap-to-Click" touchpad setting. The ripple animation does not work at all for me.
`Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/45.0.2454.99 Safari/537.36`

`IS_VISIBLE` class [gets removed](https://github.com/google/material-design-lite/blob/master/src/ripple/ripple.js#L124) on `blur` event which happens before `mous

[2015-09-22 21:39] sompylasar commented on #376
This looks like a merge error. The file from the referenced PR (#1616) contains only the `setTimeout`-wrapped `classList.remove`, but the code from `master` [contains both](https://github.com/google/material-design-lite/blob/master/src/ripple/ripple.js#L125).

Here's the commit that introduces the bug: https://github.com/google/material-design-lite/commit/bea502c9a87da4f9e0798818f5370b1d12a8f576#d

[2015-09-22 21:43] Garbee commented on #1626
It wouldn't be removing anything to add the 0 columns. It would however, add more weight to what we provide for no gain other than some miniscule level of semantics that doesn't matter.

[2015-09-22 21:54] sompylasar commented on #376
The buggy `focus` event [described above](https://github.com/google/material-design-lite/issues/376#issuecomment-142428620) does not happen in the [Layout with Tabs example](http://www.getmdl.io/components/index.html#layout-section), so the ripple appears when I click the tabs (tapping the MacBook touchpad with "Tap-to-Click" enabled still does not result in a ripple, reason unknown).

[2015-09-22 22:42] surma commented on #1626
@Garbee I think in his second answer @rhroyston suggested _replacing_ our current classes just GitHub hid that because it looks like a quote.

[2015-09-22 22:52] Garbee commented on #1626
IMO replacing is a bad idea. Less semantic overall. Hide is much more clear
to intent. But, no aliasing and can't think about the change until 2
anyways...
On Sep 22, 2015 6:42 PM, "Surma" <notifications@github.com> wrote:

[2015-09-23 07:56] davidpelayo commented on #854
@mebibou could you add a codepen, plunker or similar, or simply an example page within your project?

[2015-09-23 10:29] sgomes commented on #1625
Thanks, @sathomas, I'll take a look at this.

[2015-09-23 14:32] Garbee commented on #854
@davidpelayo Please bring up issues with @mebibou on *their* repository. Comments on this PR should be constructive towards making sure it is ready to be accepted, not discussion about other projects.

[2015-09-23 19:29] jma7889 opened #1627 "checkbox is not rendered when using with Angular.js view template"
<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-33">check box value:
                <input type="checkbox" id="checkbox-33" class="mdl-checkbox__input" />
</label>

When the above code put in a view template, the checkbox icon effect is not rendered, need to refresh the page in order to get it rendered. Other components on the same page are rendered fine.
![screensh

[2015-09-24 04:20] noah2828 opened #1628 "MDL single line text fields route the client to url?# on enter key"
This happens when ever you hit the enter key in a single line text field and causes the browser to load that URL. If ?# is already at the end of the URL the text field works as it should and does not reload the page.

An example of the problem can be seen [in the MDL text fields example](http://www.getmdl.io/components/index.html#textfields-section) where hiting enter reloads the page back out of

[2015-09-24 07:14] samdeesh commented on #1623
I posted on stack overflow but no replies yet http://stackoverflow.com/questions/32361073/i-am-getting-2-scroll-bars-using-mdl-how-can-i-fix-it

[2015-09-24 07:42] surma commented on #1627
As of now, MDL is aimed at static content and not for dynamic content. So we don’t have any support for Angular. However, I do know that there’ve been multiple people making it work properly with Angular over at StackOverflow. I’d suggest you take a look there or as your questions yourself using the `material-design-lite` tag.

[2015-09-24 07:42] #1627 closed

[2015-09-24 07:45] surma commented on #1628
The reload on enter only happens because the textfields are in a `<form>`. It is standard browser behavior to send a form on enter if there’s only one textfield. You can either change the `<form>`’s action or cancel the sending via a simple JavaScript. In any case, this is not a MDL bug. We are merely styling an input field.

However, I do agree that the demo should probably do one of the things t

[2015-09-24 09:19] sgomes commented on #1623
Hey Sam, I'm looking into it as we speak.

One problem I found right away is that if you have nested grids, the inner one needs to be both an `mdl-cell` and `mdl-grid` for things to work correctly.

I'm trying to get your codepen to work correctly and will reply on SO when I get something :)

[2015-09-24 10:11] sgomes commented on #1623
[Replied on StackOverflow](http://stackoverflow.com/questions/32361073/i-am-getting-2-scroll-bars-using-mdl-how-can-i-fix-it/32758583#32758583).

[2015-09-24 12:02] addyosmani commented on #376
I don't think we'll have a chance to look/patch this before Monday (1.0.5) so moving into the 1.1 milestone. Also bumping prio to p0.

[2015-09-24 12:14] wolfraam opened #1629 "Site Showcase Request"
Description: documentfactory.com lets the user create documents. Résumés, letters and invoices are currently supported.
Primary Link: http://documentfactory.com/
Screenshot:
![en-chrome-web-store-3](https://cloud.githubusercontent.com/assets/13664725/10073041/62cf5702-62c6-11e5-8140-0b0c38cbfa46.png)

[2015-09-24 13:03] tbaeg commented on #1448
+1! Definitely threw me off for a second. Thought I was going blind for a moment, haha.

[2015-09-24 13:05] sgomes commented on #1448
FYI: 1.0.5 now has a planned release date, this coming Monday 28 Sep :)

[2015-09-24 13:58] noah2828 commented on #1628
ok thanks.
Is there a way to prevent the action that is cleaner than

var URL = document.URL;
document.getElementById("id").action = URL;

[2015-09-24 13:58] #1628 closed

[2015-09-24 14:27] tbaeg commented on #1448
@sgomes +1 for that! :)

[2015-09-24 15:19] surma commented on #1628
Well, you don’t need to put the textfield in a form, if that is an option.

Or you could add `onsubmit="return false"` to the form like [here](https://codepen.io/surma/pen/gawKGL).

[2015-09-24 16:10] samccone opened #1630 "📈 Add memory test for snackbar"
:wave: I got this.

[2015-09-24 17:08] samdeesh commented on #1623
Thanks a lot for helping

[2015-09-24 18:48] jma7889 commented on #1627
@surma Thank you very much for clearing it up and pointing direction. Yes, the issue is solved from an answer from http://stackoverflow.com/questions/31278781/material-design-lite-integration-with-angularjs
by Emjay

The method I use is adding following code to angular controllers

angular.element(document).ready(
      function() {
        componentHandler.upgradeAllRegistered();
    });

[2015-09-25 00:06] kengruven opened #1631 "Easier styling of radio buttons"
(This is either a feature request, or a documentation request.  Or both.)

I'm trying to put an MDL radio button on a dark background.  With some help from the online styling tool, I've been able to discover that I can re-color it by overriding these selectors in my CSS file:

    .mdl-radio__outer-circle
    .mdl-radio__inner-circle
    .mdl-radio__ripple-container .mdl-ripple

Unfortunately, the

[2015-09-25 01:35] monteslu commented on #1359
As it stands I'm not able use the tabs along with react-router.  Would love to be able to use just the styling with perhaps a class to disable the current behavior.

[2015-09-25 09:10] Garbee commented on #1359
Just don't use our tab js code and write your own logic.
On Sep 24, 2015 9:35 PM, "Luis Montes" <notifications@github.com> wrote:

[2015-09-25 11:01] sgomes commented on #1631
Hey @kengruven,

I'm a bit confused by your question, since you seem to be discussing both checkboxes and radio buttons, which are styled differently. Could you clarify?

In any case, MDL was mostly designed for customisation at the SASS level; we have a number of variables there that should help! Doing it at the CSS level may be quite hard in cases like this, since our main focus was following th

[2015-09-25 11:03] tomatau opened #1633 "Pseudo state on Buttons not working"
Have created a PR #1632

The problem becomes apparent when you set custom hover/focus/active colours for the buttons.

They work fine for raised, colored and flat buttons. But primary and accent buttons do not get the pseudo classes applied as they have too high specificity.

To see the problem:
[code]

[2015-09-25 11:50] Garbee commented on #1631
I believe a better action here would be to make a modifier for dark backgrounds with these components.

Making it "more customizable" is iffy at best. It already is since you can just overrule our CSS on your own and do what you need to.

[2015-09-25 12:04] Pantic14 opened #1634 "How can do responsive design like bootstrap?"
In bootstrap i can do responsive design. For example like this:
`<div class="col-xs-6 col-md-4">.....</div>`
How can do this in mdl?

[2015-09-25 12:14] sgomes commented on #1631
Having dark versions of the components as defined in the spec is something that would be nice at some point, yup.

[2015-09-25 12:14] hebbet commented on #1634
for support question use StackOverflow. Using the `material-design-lite` and any other applicable tags to get the best support in implementing MDL in projects.

[2015-09-25 12:33] #1634 closed

[2015-09-25 13:25] sgomes commented on #1630
Yes you do, @samccone. Yes, you do. :+1:

[2015-09-25 21:17] surma commented on #1634
For completeness sake: That’s explained in the grid’s docs http://www.getmdl.io/components/index.html#layout-section/grid

[2015-09-25 21:30] tomatau opened #1636 "Question: Use case for button colours."
I'm attempting to customise the theme... but the colours seem to overlap and be hard to understand when it comes to combinations of primary/colored/accent/raised and the various pseudo selectors.

I tried to make a table for each and just got lost with making the colours work for all permutations.

So - questions:
- what's the use case for `colored` vs `primary`?
- how come most buttons don't have

[2015-09-25 21:40] surma commented on #1636
They have different semantics. `mdl-button--colored` picks the right color based on the type of button (e.g. it will pick the primary color for a flat button, but the accent color for a FAB).

We implemented the buttons’ hover states as they are defined in [the spec](https://www.google.com/design/spec/components/buttons.html#buttons-flat-raised-buttons).

Don’t quite sure what you mean, sorry :( T

[2015-09-25 22:13] tomatau commented on #1636
I'm currently attempting to use colours defined in the _color-definitions file and compiling my own sass.. but it's very tricky to get a good combo and understanding how each of the colours affects all different states. This is what lead me to ask this issue :confused:

[2015-09-25 22:29] surma commented on #1636
@tomatau We really didn’t document the SCSS well as we didn’t consider it a major use-case for external people. We have understood by now that this was probably a mistake and are already collection things we want to do differently in this regard for v2.

[2015-09-26 10:16] bitcubate opened #1637 "Not working as expected with the latest mdl lib"
Hi,

This template is not working as expected with the latest mdl lib. Menus disappear.

Could you update? Or even better could you update and also make it look like the newer android.com website?

[2015-09-26 10:23] surma commented on #1637
Can you give us a few more information about your Browser and OS version? Menus are working fine for me on the Android template.

[2015-09-26 12:37] estevo-de opened #1638 "Layout too big with 4.2.2 and some HTC Phones like HTC One Mini"
I've tried the layout (with minimal changes) and tested in on iPhone, Samsung, HTC One, HTC One Mini, Acer and etc.

On Samsung and iPhone, the layout looks great. There is a small problem with the icon on Samsung Galaxy. On HTC One mini and Acer, the design is too big for the screen.

When I compare to Bootstrap, the layout with Bootstrap looks perfect on all the devices.

![20150926_141648](http

[2015-09-26 12:55] estevo-de commented on #1638
Here is how the android.com template looks like without customization.
![20150926_144820](https://cloud.githubusercontent.com/assets/2319882/10117627/dfa43de0-645d-11e5-959c-a798cf5e4abb.jpg)

[2015-09-26 12:56] estevo-de commented on #1638
Here is how it looks like when viewing http://www.getmdl.io/templates/android-dot-com/index.html on 4.2.2.
![20150926_145347](https://cloud.githubusercontent.com/assets/2319882/10117649/a636fefc-645e-11e5-82ad-bbc6145435b9.jpg)

[2015-09-26 13:00] addyosmani commented on #1638
Thanks for filing this issue. It looks like we'll want to look at whether we need to factor in a smaller minimum set if breakpoints for this orientation.

[2015-09-26 13:38] oniseun commented on #786
@surma   I never knew that. Although I have used much of the css components and it worked but was surprised that modal window code wasn't working. Thanks anyway

[2015-09-26 14:03] bitcubate commented on #1637
Hi Surma

My apologies, it was a local caching issue, works as intended - even with the latest versions. Kindly close this issue. Thanks for the prompt response.

[2015-09-26 14:04] #1637 closed

[2015-09-26 15:15] #1630 closed

[2015-09-26 15:42] addyosmani commented on #1630
:+1:

[2015-09-26 17:55] boye opened #1639 "Site Showcase Request"
**Description:**
[Zepto Builder](https://github.com/e-sites/Zepto-Builder) will let you generate a custom version of Zepto that just includes the modules you need. It recently got a complete overhaul and I have used MDL for all interface elements.

**Link:**
http://github.e-sites.nl/zeptobuilder/beta/

**Screenshot:**
<img width="1439" alt="screen shot of zepto builder" src="https://cloud.githubus

[2015-09-27 04:58] sevekim opened #1640 "Infinite scroll, lazy load, or popup-overlay not working with MDL"
Hi.

So, I have a very simple google materials design lite framework for my site (nothing installed but the sample theme from the google site).

However, whenever I use either infinite scroll or lazy load, or popup-overlay, they simply do not work as if they are stuck on the initial view point.

I can provide examples but is anyone else having same issues as me?

Thanks

[2015-09-27 07:09] rukshn opened #1641 "Components rendering error."
I'm using material design lite together with RactiveJS kinda like React to make a single page app. When the components are in the initial page it's fine, but when I change the route and go to a different state the components doesn't render properly. Specially text boxes.

They show like the image attached. Any fix guys?

![screenshot from 2015-09-27 12 39 00](https://cloud.githubusercontent.com/as

[2015-09-27 08:48] surma commented on #1640
MDL currently focuses on static content. Techniques like lazy-loading or infinite scrolling are therefore not as well supported. However, I know multiple people have asked the same question before (see closes issues) and people on StackOverflow have gotten it to work. I suggest you head over there and ask this question again using the `material-design-lite` tag, as this issue tracker is for MDL is

[2015-09-27 08:48] #1640 closed

[2015-09-27 08:48] surma commented on #1641
MDL currently focuses on static content. Frameworks utilizing dynamic loading like React (or clones thereof) are therefore not directly supported. However, I know multiple people wanted to do similar things (see closes issues) and people on StackOverflow have gotten it to work. I suggest you head over there and ask this question again using the `material-design-lite` tag, as this issue tracker is

[2015-09-27 08:48] #1641 closed

[2015-09-27 14:40] res2k opened #1642 "Can not clear text field"
Clearing a text field (call `change("")`) does nothing as change internally does `if (value) { ... }`.
Manually clearing `input_.value` before calling `change()` makes everything appear as expected.

Suggestions: either allow empty strings in `change()` or add a method `clear()`.

[2015-09-27 14:48] surma commented on #1642
Good catch! Definitely a bug. Thanks for reporting.

[2015-09-27 14:49] surma commented on #1642
I’ll leave it up to @sgomes to decide wether this still makes the cut for 1.0.5 or not.

[2015-09-27 15:36] yan-foto commented on #913
Would something like `position: fixed` for the footer and negative margin for the content be too hacky? As a workaround maybe and not part of the official MDL.

Like the following:

[code]

[2015-09-27 15:54] Garbee opened #1643 "Layout title classname not BEM"
`mdl-layout-title` seems to be odd. I think `mdl-layout__title` is more BEM aligned with what is happening.  It is a part of the `mdl-layout` Block and it is the `title` Element.

Action: Rename `mdl-layout-title` to `mdl-layout__title`  and add an alias for the old name to the new for BC support until 2.x.

[2015-09-27 22:24] marcelodeolive1ra opened #1644 "Site Showcase Request"
Description:
This is the website for the 6th Computing Week of the Department of Computing of the Federal University of São Carlos, in Brazil. The Computing Week is an event organized every year by Computer Science and Computer Engineering students, with talks, workshops, projects exposition, a Programming Challenge, and more. This year's edition happened last week, from September 21st to Septembe

[2015-09-28 08:23] gjuchault commented on #1165
Hi,

I'm reopening this : since this commit https://github.com/google/material-design-lite/commit/d45ab8000c25f6ab5f160d8d92606552d3740781, MaterialLayoutTab is not exposed, so the solution before does not work anymore. Is there a way to pass around that ?

[2015-09-28 09:07] sgomes commented on #1642
Good catch indeed, thanks @res2k! I'll fix this for 1.0.5.

[2015-09-28 09:58] tschiela commented on #1179
What is the state of the bug? I could create an PR for that, if this is desired.

[2015-09-28 10:02] surma commented on #1179
Hey @tschiela,

sorry for the missing response. Nothing has been done yet, but it will be addressed once we get around to it. However, PRs are greatly appreciated. So if you want to take care of this, feel free to go ahead :)

[2015-09-28 10:54] JacobDorman commented on #1356
+1 - i'd like to see `mdl-layout__container` go.
Browser-sync's scrolling fails, as do screenshot services like crossbrowsertesting.com. I assume because they attempt to scroll the body, which contains an absolutely positioned block with 100% width/height.

I haven't looked into it very deeply, as those things aren't too important... but search indexing is a concern. Can headless browsers like goo

[2015-09-28 11:15] surma commented on #1495
We have decided to provide these checksums on the GitHub release notes in the future.

[2015-09-28 11:15] #1495 closed

[2015-09-28 11:43] sgomes commented on #1356
That's definitely the goal for eventual work in v2, @JacobDorman. Personally, I'd like to reimplement `mdl-layout` in v2 in a more modular fashion, with fewer prescribed behaviours and a simpler (and less strict) DOM structure.

[2015-09-28 12:40] surma commented on #1348
[Here](http://codepen.io/surma/pen/BoQPvO)’s a codepen which, to consider this fixed, should:
* Not scroll the page when the drawer is open
* Should scroll the drawer

[2015-09-28 12:56] #1556 closed

[2015-09-28 13:01] surma commented on #1642
#1646 landed. Closing :)

[2015-09-28 13:01] #1642 closed

[2015-09-28 13:01] surma commented on #1636
I’m closing this as I hope I solved your question. Feel free to re-open if that is not the case.

[2015-09-28 13:01] #1636 closed

[2015-09-28 13:14] #1426 closed

[2015-09-28 13:26] surma commented on #1596
I traced this down to 92d2ef2de3887507cc02dc59ea8c57abaef0b498. Not sure why Firefox is behaving this way. We’ll investigate for a fix.

[2015-09-28 14:03] surma commented on #1596
@axxg Sadly, I don’t think we can do much about this. Firefox doesn’t seem to be spec compliant when collapsing a node’s margins with its parents. Maybe you can make use of [this workaround](https://codepen.io/surma/pen/rOWZZw).

[2015-09-28 14:05] #1449 closed

[2015-09-28 14:07] #1427 closed

[2015-09-28 14:13] sgomes commented on #1631
Closing in favour of #328.

[2015-09-28 14:13] #1631 closed

[2015-09-28 14:20] axxg commented on #1596
@surma
Thanks for your help, but I don't understand the workaround. Should I always use the 1.0.3 version? For ever? Is it possible to report the bug at morzilla?

[2015-09-28 14:23] surma commented on #1596
@axxg Sorry! That was completely cryptic by me :smile:

No, what I did is to wrap the individual rows into `<div>`s and applied the following style to those `<div>`s:

[code]

[2015-09-28 14:36] axxg commented on #1596
ok, i get it:)
thx!
https://jsfiddle.net/ow8572gt/1/

[2015-09-28 14:36] #1596 closed

[2015-09-28 14:50] gauntface opened #1656 "Navigation Drawer and Header Pop"
At the moment, the initial CSS pushes the header to the right by adding a margin to account for the nav drawer.

This is removed by JS once it kicks in, but this causes a pop on load.

Originally reported on Web Fundamentals.
https://github.com/google/WebFundamentals/issues/1869

[2015-09-28 15:01] surma commented on #1656
The drawer is being moved out of the frame later by a `transform`.

@addyosmani @sgomes Should we add a style hiding the drawer element until `is-upgraded` is added?

[2015-09-28 15:03] sgomes commented on #1656
@surma Yup, that's the solution I've already coded :)

[2015-09-28 15:04] surma commented on #1656
Go @sgomes! :clap:

[2015-09-28 15:51] gauntface commented on #1656
Is this ok to get into 1.0.5?

[2015-09-28 15:52] sgomes commented on #1656
Yes, it's already merged into the `mdl-1.0` branch and will make it to 1.0.5.

[2015-09-28 15:56] surma commented on #1656
Closing this as #1657 has landed.

[2015-09-28 15:56] #1656 closed

[2015-09-28 17:11] gauntface opened #1658 "When scrolling away the header, the page body should not jump around"
From @pbakaus

"Right now, when loading a page such as https://material-dot-web-central.appspot.com/web/tools/setup/workspace/setup-buildtools, the page does a jump when you scroll down and it's very irritating. Let's solve this without jumpy jump jump."

This is in respect to the header in Web Fundamentals if you scroll down slowly, when the subheading collapses the body moves up.

I don't know w

[2015-09-28 17:16] surma commented on #1658
The waterfall header is usually animated. Not sure how that got lost. It would make it sufficiently un-jumpy, I guess.

[2015-09-28 17:19] gauntface commented on #1658
It could be that I'm doing something wrong on WF.

[2015-09-28 18:08] gauntface opened #1659 "Scrolling of nav drawer via mouse / touchpad doesn't work with overflowing content"
If you visit this page and adjust your viewport such that the nav drawer overflows the scrollbar will display, however you can't scroll it with a mouse wheel or touchpad.

https://material-dot-web-central.appspot.com/web/resources/styleguide/

I'm trying to figure out what exactly is causing this but I can't find any way of making this work.

[2015-09-28 18:24] surma commented on #1659
Will be fixed once #1652 lands

[2015-09-28 18:24] #1659 closed

[2015-09-29 08:25] JacobDorman commented on #1356
Just FYI, i tested with phantomjs and then Google Search Console's 'fetch and render' ... neither were able to scroll.

I haven't tested the example site yet, so it could be something to do with my implementation. Does anyone have access to test http://www.getmdl.io/ in GSC?
... or since it says google at the top of the page, maybe someone could just wander over to @mattcutts  cubicle (I'm just go

[2015-09-29 09:22] JacobDorman commented on #1356
FWIW
*Initial View*
![www_getmdl_io_--1](https://cloud.githubusercontent.com/assets/1334947/10159979/63d9c044-66de-11e5-9921-e8c8992bead1.jpg)
*Scroll 512px*
![www_getmdl_io_--2](https://cloud.githubusercontent.com/assets/1334947/10159980/63de678e-66de-11e5-93a0-6a46ba7d39cd.jpg)

*Initial View*
![image](https://cloud.githubusercontent.com/assets/1334947/10159984/6abea3e8-66de-11e5-8c7b-a0410536ac

[2015-09-29 10:23] petele opened #1660 "Provide responsive table functionality"
We need this for Web Fundamentals. Our current behaviour is to turn tables into a stacked list, but open to other good solutions. We include a data-th element with each table cell that provides the cell title.

See the table in [this file](https://github.com/google/WebFundamentals/blob/material-branch/src/content/en/fundamentals/design-and-ui/input/forms/label-and-name-inputs.markdown) as an examp

[2015-09-29 10:29] addyosmani commented on #1660
Just confirming that our tables atm are not responsive:

http://www.getmdl.io/components/index.html#tables-section
https://www.google.com/design/spec/components/data-tables.html#data-tables-specs

Community explorations around this:
http://codepen.io/zavoloklom/full/IGkDz
http://stas-melnikov.ru/material_table/

[2015-09-29 10:52] addyosmani commented on #1448
New release is out! https://www.npmjs.com/package/material-design-lite. It should now contain the correct end-user build files for both CSS and JS.

[2015-09-29 10:52] #1448 closed

[2015-09-29 12:55] vose2008 opened #1661 "the [mdl-layout__drawer-button] icon not aligning correctly"
this is run in [CODE PEN](https://codepen.io/pen)
and this is run in [RUNJS](http://runjs.cn/code/sg5zbjg0)
and the last one is run in Chrome 45.0.2454.99 (64-bit)
![1856cfd1-b196-4ad1-b047-00a8f0dab8fb](https://cloud.githubusercontent.com/assets/3043219/10164362/c249b9ce-66eb-11e5-8527-7093c08bcfec.png)

it's seem like about line-height

sorry about my poor english skill

[2015-09-29 12:59] addyosmani commented on #1661
Thanks for your bug report. What OS are you experiencing this on? On Mac / Chrome 45 + 46 I'm seeing this:

![](http://i.imgur.com/2EC7JOc.png)

[2015-09-29 13:01] vose2008 commented on #1661
ye on Mac 10.10.5 / Chrome 45.0.2454.99 (64-bit)

[2015-09-29 13:03] cdiener opened #1662 "Shadows broken on Android Chrome"
![bug](https://cloud.githubusercontent.com/assets/7153935/10166903/d4b061e0-668b-11e5-86bd-6050cf6b1d7f.jpg)
On Chrome for Android Shadows do not render correctly. They are shown as a series of transparent gray boxes which looks pretty ugly, especially for deeper shadows.

This was observes on Android 5.1.1 with the stock Chrome (42).

Edit: Added screenshot of getmdl.io that illustrates the probl

[2015-09-29 13:05] addyosmani commented on #1661
@sgomes or @surma can you try reproducing on your machines?

[2015-09-29 14:03] sgomes commented on #1661
I'm having trouble with the links in the original issue, @addyosmani. How did you get to the preview?

[2015-09-29 14:04] addyosmani commented on #1661
I used the second link. The first Codepen is busted :)

[2015-09-29 15:50] sgomes commented on #1468
This is actually related to http://stackoverflow.com/questions/32061829/microsoft-edge-user-agent-from-modern-ie/32102663#32102663. Long story short, it's a bug with the modern.ie VM, which is providing the wrong useragent, and thus not getting the full CSS from Google Fonts. Switching your modern.ie VM to a non-mac version or using a real Windows 10 install should fix it.

[2015-09-29 15:50] #1468 closed

[2015-09-29 16:39] sgomes commented on #1495
FYI, we started including these in our release notes, [starting with 1.0.5](https://github.com/google/material-design-lite/releases/tag/v1.0.5) today!

[2015-09-29 17:07] hebbet commented on #1662
your chrome is outdated.

[2015-09-29 17:35] Soubkia commented on #364
I am having a similar issue. What did you do to fix it? Just update to the most recent version of mdl?

[2015-09-29 17:54] cdiener commented on #1662
Updating Chrome to the latest version available did not fix the issue for me.

[2015-09-29 18:41] nicolasgarnier commented on #364
@soubkia: Well this was a while ago on a pre-launch version of mdl. It disappeared after some updates on the page. This was pre-launch and lots was changing fast so I let this go but there might still be a bug somewhere. If you have a way to replicate this issue consistently please share as this could help us track down what's wrong.

[2015-09-30 03:16] watlandc opened #1664 "Link to CSS hosted on your CDN not working"
MDL CSS link

https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css

I noticed the link was dead when trying the CodePen examples.

[2015-09-30 06:29] nikhildev commented on #1664
I notied the same thing. 1.0.4 works though.

[2015-09-30 07:38] mibcadet commented on #1002
@johnsonium: You are right, MDL was to provide a consistent look and feel. If I have to set correct subtitle style manually why this element 'mdl-card__subtitle-text' exist if it is useless??

[2015-09-30 07:50] surma commented on #1664
We believe we fixed the issue (and updated our process to avoid this happening in the future. Sorry)!

[2015-09-30 07:50] #1664 closed

[2015-09-30 08:10] mibcadet commented on #125
I have found a sollution, quite better than 'put in next line'.
Do like that:
[code]

Ofcourse you may replace h5 with h4 etc.

[2015-09-30 08:21] gjuchault opened #1665 "Dynamically opening mdl-layout--fixed-tabs"
Hi
I'm starting a new issue following this one : https://github.com/google/material-design-lite/issues/1165.

I would have love to get more possiblities to make mdl dynamic; but

Since this commit d45ab80, MaterialLayoutTab is not exposed, so the solution before does not work anymore.

Actually, I need to edit the material.js file to add `window.MaterialLayoutTab = MaterialLayoutTab;` after Materi

[2015-09-30 09:29] davidshen84 opened #1666 "The "styles.css" file in "android-dot-com" template has wrong font name"
In the templates I got from [here](https://storage.googleapis.com/code.getmdl.io/1.0.5/mdl-templates.zip), in the "android-dot-com/styles.css" file, it defines:

    @font-face {
      font-family: "And Black";
      src: url("myfont-webfont.eot?#iefix") format('embedded-opentype'),
           url("fonts/and_black.woff") format('woff'),
           url("fonts/and_black.ttf") format('truetype');

[2015-09-30 09:48] surma commented on #1665
I think this is completely fair and – honestly – was an unintended side-effect of d45ab8000c25f6ab5f160d8d92606552d3740781.

If no one objects (@addyosmani, @sgomes, @Garbee), I’ll re-expose `MaterialLayoutTab`.

[2015-09-30 09:52] sgomes commented on #1665
Thanks, @surma, let me know if you need any help with the Closure bits.

[2015-09-30 09:54] surma commented on #1662
I can’t reproduce on Android 5.1.1 with Chrome 45.0.2454.94.
![screenshot_2015-09-30-11-51-57](https://cloud.githubusercontent.com/assets/234957/10189974/e0066f7e-6769-11e5-911f-9643c3f24e0f.png)

I’m pretty sure there’s something weird on your end, but I have no idea what it could be. I’m closing this issue, but please re-open if this does turn out to be a bug in MDL itself.

[2015-09-30 09:54] #1662 closed

[2015-09-30 10:18] #1665 closed

[2015-09-30 10:19] #1666 closed

[2015-09-30 10:42] naomik commented on #820
@Garbee I don't know how you have patience for someone that isn't even willing to read the basics.

:x: :o:

[2015-09-30 14:22] gauntface opened #1669 "Collapsible Header + Search Field Issue"
If you have a collapsible header and and search field, the header will un-collapse when the search field is focused.

[2015-09-30 14:25] sgomes commented on #1661
The exact same code causes no issues in codepen. I'm currently investigating why, but I'd say the problem is something to do with runjs.cn

[2015-09-30 14:36] surma commented on #1669
Hm, I’m not 100% sure this is unintended (@sgomes?).

But if it is, it was most likely introduced way-back-when with #86, which implemented header-expansion on click.

[2015-09-30 14:38] surma commented on #1661
RunJS looks completely busted for me:
<img width="591" alt="screenshot 2015-09-30 16 37 38" src="https://cloud.githubusercontent.com/assets/234957/10196142/9de5fa24-6791-11e5-8148-cb524c729ba2.png">

[2015-09-30 14:39] surma commented on #1669
... I guess a possible fix would be to catch click events on input fields in the header bar and stop bubbling. Not sure if this is desirable, though. I’ll wait for the rest to chime in here.

[2015-09-30 14:41] sgomes commented on #1661
I see the same issues across all browsers in RunJS. I'm closing the bug because it seems apparent it's an issue with the site.

[2015-09-30 14:41] #1661 closed

[2015-09-30 14:45] sgomes commented on #1669
I don't see this as unintended behaviour. Any interaction with the header should expand it, imho.

[2015-09-30 14:52] gauntface commented on #1669
It feels weird on Web Fundamentals, feel free to close if you disagree.

[2015-09-30 14:58] sgomes commented on #1669
I think it's the correct default behaviour, but I agree it might be odd in some sites :) You should be able to override it with a click handler, though.

@addyosmani, WDYT?

[2015-09-30 15:15] surma commented on #1669
I tend to agree.

@gauntface In any case: You could include something like [this codepen](https://codepen.io/surma/pen/ZbLveb).

[2015-09-30 15:41] Garbee commented on #1669
FTR (again) our search in navbar is far from MD compliant. It may be best if WF really wants proper search by the spec to build their own search design. I have some functioning code that can be used as a jumpstart (but it does have its own issues that will need working out.)

[2015-09-30 16:25] gauntface commented on #1669
WF has a limitation on JS, but the MDL stuff is fine, so custom stuff isn't too much of an option. It's not a deal breaker, I just thought it was an unusual / undesirable behaviour.

Like a said - if it's intended, happy to to close the bug.

[2015-09-30 16:31] vose2008 commented on #1661
guys it's my fault, i apologize for the LINK about CodePen, in fact CodePen are working fine, but not work well on my own project and RUNJS. The other platform i didn't test.
1. [CodePen here again](https://codepen.io/anon/pen/OyWzKK)
2. And actually the problem with @sgomes & @surma on RunJS.cn maybe because of the GFW ( china great fire wall ) , it may let some resources can't loading . Thus you

[2015-09-30 16:31] #1669 closed

[2015-09-30 16:35] vose2008 commented on #1661
closed .... but ..... but ... the picture are cut of form Chrome.
sadly face ( TAT )

[2015-09-30 16:55] cdiener commented on #1662
Well, it's not 'weird'. It has to do with hardware acceleration on Chrome. The way you implemented shadows with three overlaying transparent box shadows puts a lot of work on the renderer so Chrome sends the alpha blending of to the hardware and how that will be handled is completely device specific. That's why it looks like that in my somewhat slow Moto G 3rd gen and looks a bit better on your de

[2015-09-30 17:23] salamanders opened #1670 "Does footer go inside "main" or mdl-layout?"
http://www.getmdl.io/components/index.html#layout-section/footer doesn't show where "footer" goes inside.

[2015-09-30 17:29] surma commented on #1662
Interesting. I was not aware of this. @addyosmani @sgomes, WDYT?

[2015-09-30 18:12] Garbee commented on #1670
It goes inside of `mdl-layout__content`

[2015-09-30 18:18] cdiener commented on #1662
Thanks a lot for looking into this. Playing around a bit more I found that enabling "slimming paint phase 2" in the Chrome flags of the dev version (47) fixes the issue. So the problem lies with the compositor. Ergo this might be a bug in Chrome or Android but it might affect several devices at least until version 47+ of Chrome. Based on that I think that MDL is probably not the right place to fix

[2015-09-30 20:40] onexerxes opened #1671 "[Component Request] {Dropdown}"
Can you please implement dropdowns similar to the Polymer ones?

https://elements.polymer-project.org/elements/paper-dropdown-menu?active=paper-dropdown-menu&view=demo:demo/index.html

[2015-10-01 01:14] Garbee commented on #1671
Duplicate of select requests.
On Sep 30, 2015 4:40 PM, "onexerxes" <notifications@github.com> wrote:

[2015-10-01 01:14] #1671 closed

[2015-10-01 02:45] LCallaghan84 commented on #820
i will be sticking with materialize, their documentation is much more
understandable than

@Naomi dont ever assume such things, I have read the basics.

the grid system makes no sense nor does making the cards unresponsive, and
using images as backgrounds for the cards is just ludicrous.

On Wed, Sep 30, 2015 at 1:43 PM, Naomi <notifications@github.com> wrote:

[2015-10-01 03:01] LCallaghan84 commented on #1016
Well you are putting some people at a disadvantage because its not easy to understand the so called "documentation" and "examples" that you have provided for MDL

the components need to be resized and fit into that column depending on the grid that is set

for example
desktop grid would be
column size 8 (for the content) and column 4 (for the side bar and widgets)

for tablet/mobile, the grid woul

[2015-10-01 06:42] cubicwork opened #1672 "Build error in 'mocha' task"
Ubuntu 15.04 / Node V4.1.1 / npm V2.14.4
Just build MDL without any modification in source code

Same As #1342
[code]

[2015-10-01 07:15] cubicwork commented on #1342
@accessibleweb did the method you mentioned really works ?

[2015-10-01 08:55] Zodiase commented on #1428
@Garbee @surma @addyosmani Just wanna say this issue still seems to be present in 1.0.4 and 1.0.5.
See [this codepen using 1.0.4](http://codepen.io/Zodiase/pen/PqMjrV) and [this one using 1.0.5](http://codepen.io/Zodiase/pen/bVgQLL). And the commit history of `src/layout/layout.js` is just confusing...

[2015-10-01 08:58] surma commented on #1671
See #854

[2015-10-01 09:10] surma commented on #1016
@LCallaghan84 While I do agree that we could definitely be doing a better job at documenting the grid, I don’t feel like “it didn’t work” is constructive feedback nor do I have the impression that we are “blaming the users for not knowing how to use the MDL framework”.

The example you are giving shows that we are obviously failing to communicate how the grid works, even though the [documentation]

[2015-10-01 09:13] surma commented on #1428
@Zodiase I am pretty sure that this will be resolved once #1652 lands

[2015-10-01 10:34] surma commented on #1672
I can’t manage to reproduce this issue :(

IIRC, @sgomes and/or @addyosmani may have some input on this.

[2015-10-01 10:49] cubicwork commented on #1672
@surma  i will try it again with Node V 0.12. and comment this issue if problem solved.

[2015-10-01 11:19] accessibleweb commented on #1342
@cubicwork Sure, it works as you can see it fail in mocha, mocha is only for testing so just comment it

[2015-10-01 11:26] cubicwork commented on #1342
@accessibleweb i still wonder that how it behaviors normal if it didn't pass the test. By the way this is really a good solution to quick fix the problem. at least we can get a build from it.

[2015-10-01 11:56] genmacg opened #1673 "Tooltip and Menu conflict"
Attaching a tooltip to a button that also functions as the toggle for a menu causes an issue with already open menus. Clicking that button to open its attached menu the callback that was setup at the end of MaterialMenu.prototype.show is never called (on document.click) because I think the event propagation is stopped by the tooltip, therefore another open menu will not be hidden.

[2015-10-01 12:50] Garbee commented on #1673
The tooltip prevents propogation for touch to be handled properly. Maybe for using tooltip and menu together we can try to figure out something for making sure they fire in the right order? JS doesn't give us control over this unfortunately.

[2015-10-01 12:52] Garbee commented on #1672
If it is the same as the other issue, please keep the conversation on existing issues. Creating new issues for the same problems creates clutter and makes searching more difficult.

[2015-10-01 12:52] #1672 closed

[2015-10-01 12:58] DarienFord opened #1675 "Menu not scrolling with fixed header"
I've come across an issue when you have a fixed header layout and a menu within the content for that layout.

I've put up an example here: https://codepen.io/anon/pen/MaJLNG

Just open the menu and scroll down and you will see the menu does not stay with the button which opened it.

[2015-10-01 13:01] DarienFord opened #1676 "Fixed header goes white when menu opens"
In relation to the other issue I opened, you will notice the header will go white when you click on the button with a menu assigned to it.

This may be as designed, but since using a menu is how it's been suggested we implement drop downs, it's causing some confusion.

You can see the issue here: https://codepen.io/anon/pen/MaJLNG

[2015-10-01 13:06] surma commented on #1676
This is – sadly – a Chrome-specific bug that we have reported upstream. There doesn’t seem to be anything we can do at this point.

[2015-10-01 13:06] #1676 closed

[2015-10-01 13:39] genmacg commented on #1673
Preventing propagation is quite unfortunate because none of our my events are picked up that are not attached to the element directly but I fully understand the reasoning behind it.

[2015-10-01 13:49] liddellj commented on #1502
Maybe I'm missing something here, but what if the error styling was only applied under the `:focus` pseudo class? That would avoid the need for any sort of state tracking and would provide adequate feedback to the user.

[2015-10-01 14:09] Garbee commented on #1502
Applying only under focus would then mean it *always* would only show when focused. This is certainly not desirable since you need to be able to display invalid input at any arbitrary time.

We need to touch base with the spec team and see if we can get the spec changed to align with what the web currently provides natively (which is the same setup we currently have.) Otherwise, we need to dig int

[2015-10-01 15:15] liddellj commented on #1502
Ok, I take your point. But I really think the current behavior is undesirable...

[2015-10-01 16:10] Garbee commented on #1502
The current behavior is exactly what browsers provide by default. Which is why we should emulate it imo. There is discussion going on of an intermediate pseudo state to address this in browsers, but afaik no one has it implemented yet.

If you want different behavior now, it may be best to not use our provided JS and build your own component that handles the advanced dirty state checking.

[2015-10-01 18:19] nicolasgarnier opened #1678 "Codepen buttons in the reference docs are not working anymore"
This is since today's new UI redesign of Codepen which might have introduced a bug.

Filed this on Codepen's bug tracker since this must be on their side: https://bugcrowd.com/submissions/740a218bae3df924d0df4f9dd10adb635d65320e1249febf9678f9820fb16e76

[2015-10-01 21:10] salamanders commented on #1670
So "footer" is inside mdl-layout__content, but "header" is outside.  How strange!

[2015-10-01 21:21] rzr999 commented on #1502
@liddellj: see our discussion on this topic and pull request #1503 as @surma suggested. It's a quick hack which doesn't respect server-side validation but it might suit your needs.
I am looking into the pseudo state solution.

[2015-10-02 03:26] sdcinglis commented on #1348
That codepen still exhibits the issue. The drawer contents don't scroll with the mousewheel.

[2015-10-02 07:23] alvinthen commented on #1451
even the template site still having this issue
http://www.getmdl.io/templates/android-dot-com/index.html

[2015-10-02 08:31] surma commented on #1348
@sdcinglis I know. That’s the point. That codepen showcases the issue. That codepen ought to show the behavior I described *once the issue is fixed*.

[2015-10-02 11:22] jfily opened #1680 "Badge colour isn't accent contrast colour"
Hi,

Text colour on badges is not correct... Content is unreadable when yellow is accent colour.

I think it should be the same colour as .mdl-color-text--accent-contrast class.

![issue](https://cloud.githubusercontent.com/assets/10220170/10245447/e3b0a9f6-6907-11e5-9acc-76d19f67d867.PNG) => ![correct](https://cloud.githubusercontent.com/assets/10220170/10245518/72b5e7d8-6908-11e5-9940-0260876745

[2015-10-02 12:07] surma commented on #1680
That is definitely what should be happening here. Thanks for the issue, @jfily!

[2015-10-02 13:22] sgomes commented on #1678
[Their samples](http://blog.codepen.io/documentation/api/prefill/) still seem to work, so there could be something we're doing differently that doesn't work anymore. Investigating.

[2015-10-02 13:27] jfily commented on #324
I've done a snackbar following exactly Material design spec with pure css (using flexboxes and translation for animations):

Desktop
![capture](https://cloud.githubusercontent.com/assets/10220170/10247487/c3b7c8f2-6919-11e5-8baa-3ce0c8e632cc.PNG)

Mobile / Tablet
![capture2](https://cloud.githubusercontent.com/assets/10220170/10247492/ce0e00d2-6919-11e5-81bd-957f0fd1ad9c.PNG)

I don't know if it's

[2015-10-02 13:57] nicolasgarnier commented on #1678
After some investigation it seems that posting to http://codepen.io/pen/define works but https://codepen.io/pen/define fails

[2015-10-02 15:15] sdcinglis commented on #1348
Sorry, misunderstood.

[2015-10-02 15:36] sgomes commented on #1678
Closed since #1683 has been merged.

[2015-10-02 15:36] #1678 closed

[2015-10-02 15:44] sgomes commented on #370
Closing since #1677 is merged.

[2015-10-02 15:44] #370 closed

[2015-10-02 15:53] sgomes commented on #441
This has long been done :)

[2015-10-02 15:53] #441 closed

[2015-10-02 15:55] #496 closed

[2015-10-02 15:55] #497 closed

[2015-10-02 15:55] #498 closed

[2015-10-02 15:59] sgomes commented on #523
Closing as I believe this was fixed somewhere along the way. If not, please reopen!

[2015-10-02 15:59] #523 closed

[2015-10-02 16:08] sgomes commented on #546
It seems we're now minifying them, but keeping them as separate files. Is this enough, @addyosmani?

[2015-10-02 16:12] sgomes commented on #559
This has been fixed since before v1.

[2015-10-02 16:12] #559 closed

[2015-10-02 16:18] #656 closed

[2015-10-02 16:18] #657 closed

[2015-10-02 16:20] sgomes commented on #676
@surma @addyosmani I believe this is fixed now, right?

[2015-10-02 16:22] sgomes commented on #693
They are meant to be transparent, with the white as a fallback. Is there a better, cross-browser solution to this?

[2015-10-02 16:22] #702 closed

[2015-10-02 16:24] sgomes commented on #726
Adding this to v2, as part of the layout rework. We should strive to separate most components and make it easy to piece them together.

[2015-10-02 16:25] sgomes commented on #734
This has been fixed.

[2015-10-02 16:25] #734 closed

[2015-10-02 16:29] sgomes commented on #753
Sounds like this can be closed! :)

[2015-10-02 16:29] #753 closed

[2015-10-02 16:31] sgomes commented on #804
I believe this was fixed with #1498, please reopen if not.

[2015-10-02 16:31] #804 closed

[2015-10-02 16:32] salamanders commented on #1670
Oh funny.
When it is inside, it scrolls off the bottom of the page.
When outside, it attaches to the bottom of the screen.
Good to document.

[2015-10-02 16:34] sgomes commented on #816
The issue is still sadly present in Opera 33. It's likely tied to the browser in some way. DNA-40907 in their bug database.

[2015-10-02 16:36] sgomes commented on #861
Closing this bug as the original request is outside of the scope of the project.

[2015-10-02 16:37] #861 closed

[2015-10-02 16:39] sgomes commented on #894
This should be fixed, as we now package the sources in npm and bower.

[2015-10-02 16:39] #894 closed

[2015-10-02 16:39] sgomes commented on #887
This has been merged.

[2015-10-02 16:39] #887 closed

[2015-10-02 17:22] mibcadet commented on #782
So much time passed and still no datepicker. For some simple working release to have tool already one coder, one tester, 3-5 days max. But no, you need team of 50 ppl and 3 months eta for datepicker...

[2015-10-02 17:39] surma commented on #676
Yeah, the only thing still to be done would be removing the hover states, which, as I said, I really like and nobody seems to complain :)

[2015-10-02 17:39] #676 closed

[2015-10-02 17:41] surma commented on #693
I spent hours trying out different combinations. Couldn’t get it work consistently back then. I don’t think anything’s changed.

[2015-10-02 17:57] surma commented on #782
@mibcadet I know it is frustrating to see a big demand for a component like this and not see any progress, however, I’d like you to consider the following things:

* We need to consider a11y, which means we probably have to use the native element somewhere to remain compatible to screen readers and other a11y devices
* MDL’s goal is to be as close to the MD spec as possible and deliver a high-fide

[2015-10-02 19:38] mibcadet commented on #782
@surma
"We need to consider a11y" - Make it work, make it usefull, make it stable, make it beautiful.

I could agree with you if when it would be marked as an alpha or beta. Due to this package and awesome MD specs I have started using it and really appriciate your work about MDL.
Up to this day I did not need datepicker and I did not even realise it will be so big problem.
So I have searched thro

[2015-10-02 19:51] stunaz commented on #782
@mibcadet Datepicket is far from a "basic feature", on the contrary it is one of the most complex. I am also missing this feature along with many others features, but I really appreciate what they have done so far. I prefer to have this limited stable framework than have a most-completed-buggy framework.
Your temporary solution can be as mine: use a custom package for the missing feature until the